<%= form_for(@preference_criterium) do |f| %>
  <% if @preference_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference_criterium.errors.count, "error") %> prohibited this preference_criterium from being saved:</h2>

      <ul>
      <% @preference_criterium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :online_application_form_id %><br />
    <%= f.number_field :online_application_form_id %>
  </div>
  <div class="field">
    <%= f.label :criteria %><br />
    <%= f.text_field :criteria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
