<h1>Listing preference_criteria</h1>

<table>
  <tr>
    <th>Online application form</th>
    <th>Criteria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @preference_criteria.each do |preference_criterium| %>
  <tr>
    <td><%= preference_criterium.online_application_form_id %></td>
    <td><%= preference_criterium.criteria %></td>
    <td><%= link_to 'Show', preference_criterium %></td>
    <td><%= link_to 'Edit', edit_preference_criterium_path(preference_criterium) %></td>
    <td><%= link_to 'Destroy', preference_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Preference criterium', new_preference_criterium_path %>
