<%= form_for(@preference_industry) do |f| %>
  <% if @preference_industry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference_industry.errors.count, "error") %> prohibited this preference_industry from being saved:</h2>

      <ul>
      <% @preference_industry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :online_application_form_id %><br />
    <%= f.number_field :online_application_form_id %>
  </div>
  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :sub_industry %><br />
    <%= f.text_field :sub_industry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
