<p id="notice"><%= notice %></p>

<p>
  <b>Online application form:</b>
  <%= @club_affiliation.online_application_form_id %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @club_affiliation.affiliation %>
</p>

<p>
  <b>Others:</b>
  <%= @club_affiliation.others %>
</p>


<%= link_to 'Edit', edit_club_affiliation_path(@club_affiliation) %> |
<%= link_to 'Back', club_affiliations_path %>
