<script type="text/javascript">
    $(document).ready(function () {
        $('#page-title').text("<%= "#{@online_application_form.personal_detail.last_name}, #{@online_application_form.personal_detail.first_name} #{@online_application_form.personal_detail.middle_name}" %>");
        $('#leftcolumn').hide();
    })
</script>

<p id="notice"><%= notice %></p>

<div style="padding-bottom: 10px;" class="row row-fluid no-print">
  <div class="span9">
  </div>

  <div class="span3">
    <%= link_to 'Return To Dashboard', '/dashboard', :class => 'btn btn-primary' %>
  </div>
</div>
<span class="no-print">
<hr/>
  </span>
<div>
  <form method="get" action="/online_application_status/update_status/<%= @online_application_form.id %>">
    <!--<%= render :partial => 'dashboard/status' %>-->
  </form>
</div>


<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs no-print">
    <li class="active"><a href="#tab1" data-toggle="tab">Basic Information</a></li>
    <li><a href="#tab2" data-toggle="tab">Profile Information</a></li>
    <li><a href="#tab3" data-toggle="tab">Requirements</a></li>

  </ul>
  <div class="tab-content" style="margin: 35px 110px;">
    <div class="tab-pane active" id="tab1" style=" height: 700px; width: 775px; overflow-y: auto;">
      <div id="print-details" >
        <%= render :partial => 'print' %>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div id="requirements" >
        <%= render :partial => 'online_application_forms/print/personal_information' %>
        <%= render :partial => 'online_application_forms/print/academic_information' %>
        <%= render :partial => 'online_application_forms/print/employment_information' %>
      </div>
      </div>
    <div class="tab-pane" id="tab3">
      <div id="requirements">
        <%= render :partial => 'requirements' %>
      </div>
    </div>
  </div>
</div>

