<%= form_for(@other_graduate) do |f| %>
  <% if @other_graduate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@other_graduate.errors.count, "error") %> prohibited this other_graduate from being saved:</h2>

      <ul>
      <% @other_graduate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :online_application_form_id %><br />
    <%= f.number_field :online_application_form_id %>
  </div>
  <div class="field">
    <%= f.label :other_degree %><br />
    <%= f.text_field :other_degree %>
  </div>
  <div class="field">
    <%= f.label :sub_other_degree %><br />
    <%= f.text_field :sub_other_degree %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
