<p id="notice"><%= notice %></p>

<p>
  <b>Online application form:</b>
  <%= @other_graduate.online_application_form_id %>
</p>

<p>
  <b>Other degree:</b>
  <%= @other_graduate.other_degree %>
</p>

<p>
  <b>Sub other degree:</b>
  <%= @other_graduate.sub_other_degree %>
</p>


<%= link_to 'Edit', edit_other_graduate_path(@other_graduate) %> |
<%= link_to 'Back', other_graduates_path %>
