<p id="notice"><%= notice %></p>

<p>
  <b>Online Application Form ID:</b>
  <%= @language_ability.online_application_form_id %>
</p>

<p>
  <b>Name:</b>
  <%= @language_ability.name %>
</p>

<p>
  <b>Level:</b>
  <%= @language_ability.level %>
</p>


<%= link_to 'Edit', edit_language_ability_path(@language_ability) %> |
<%= link_to 'Back', language_abilities_path %>
