<table width="750" border="1" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;
        font-size:13px;
        border-width: 1px;
        border-color: #000;
        border-collapse: collapse;">
  <tr>
    <td style="width:400px; font-weight:bold; background:#989898;" colspan="6">ACADEMIC INFORMATION</td>
  </tr>
  <tr>
    <td height="25" colspan="4" style="font-weight:bold;">Bachelor Degree</td>
  </tr>
  <tr>
    <td width="201" colspan="2" valign="top" height="43" style="font-weight:bold;">Course:
      <p class="form-detail"><%= @online_application_form.education_detail.last_school_degree %> <%= @online_application_form.education_detail.last_school_course_title %></p>
    </td>
    <td width="168" valign="top" style="font-weight:bold;">Class Year:
      <p class="form-detail"><%= @online_application_form.education_detail.class_year %></p></td>
    <td width="168" valign="top" style="font-weight:bold;">Graduation Year:
      <p class="form-detail"><%= @online_application_form.education_detail.last_school_end_date %></p></td>

  </tr>
  <tr>
    <td width="210"colspan="2" valign="top" style="font-weight:bold;">Scholarship:
      <p class="form-detail"><%= @online_application_form.education_detail.scholarship %></p></td>
    <td width="261" colspan="2" valign="top" style="font-weight:bold;">Club Affiliations:
      <p class="form-detail"><%= @online_application_form.education_detail.affiliation %></p></td>
  </tr>
  <tr>
    <td colspan="6" style="font-weight:bold;">Other Graduate Degrees
      <p class="form-detail"><%= @online_application_form.education_detail.other_degree %></p></td>
  </tr>
  <tr>
    <td height="34"  valign="top" style="font-weight:bold;"> MBA Schools
      <p class="form-detail"><%= @online_application_form.education_detail.mba_school %> </p>
    </td>
    <td  valign="top" style="font-weight:bold;">Certifications/Licenses
      <p class="form-detail"><%= @online_application_form.education_detail.certification %></p>
    </td>
    <td  valign="top" style="font-weight:bold;">Undergraduate Major
      <p class="form-detail"><%= @online_application_form.education_detail.undergrad_major %></p>
    <td  valign="top" style="font-weight:bold;">Laguange Ability
      <p class="form-detail"><%= @online_application_form.education_detail.language %></p>
    </td>
  </tr>
</table>