<!--<link href="/assets/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="/assets/docs.css" rel="stylesheet">-->
<!--<link href="/assets/prettify.css" rel="stylesheet">-->
<!--<script type="text/javascript" src="/assets/prettify.js"></script>-->
<!--<script type="text/javascript" src="/assets/jquery-1.8.2.min.js"></script>-->
<!--<script type="text/javascript" src="/assets/bootstrap-2.1.1/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="/assets/bootstrap-modal-popover.js"></script>-->

<div id="personal_edit" title="Personal Info">

<!-- Form Name -->
<div id="dialog-content">

<form id="personal_details-form" class="form-horizontal" method="post" action="/admissions/submit/<%= @online_application.id %>">

<p>
<table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
<tr>
  <td>First Name:</td>
  <td>
    <input id="first-name" name="personal_detail[first_name]" value="<%= @personal_details.first_name %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Middle Name:</td>
  <td>
    <input id="middle-name" name="personal_detail[middle_name]" value="<%= @personal_details.middle_name %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Last Name:</td>
  <td>
    <input id="last-name" name="personal_detail[last_name]" value="<%= @personal_details.last_name %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Date of Birth:</td>
  <td>
    <input type="text" id="" class="date-pick dob" name="personal_detail[dob]" value="<%= @personal_details.dob.strftime('%d/%m/%Y') %>">
  </td>
</tr>
<tr>
  <td>Gender:</td>
  <td>
    <select id="gender" name="personal_detail[gender]" class="input-xlarge dropdown-value" data-chosen-value="<%= @personal_details.gender %>">
      <option>Select One</option>
      <option>Male</option>
      <option>Female</option>
    </select></td>
</tr>
<tr>
  <td>Nationality:</td>
  <td>
    <select id="citizenship" name="personal_detail[citizenship]" class="input-xlarge dropdown-value" data-chosen-value="<%= @personal_details.citizenship %>">
      <option>Select One</option>
      <option> Afghan</option>
      <option> Albanian</option>
      <option> Algerian</option>
      <option> American</option>
      <option> Andorran</option>
      <option> Angolan</option>
      <option> Antiguans</option>
      <option> Argentinean</option>
      <option> Armenian</option>
      <option> Australian</option>
      <option> Austrian</option>
      <option> Azerbaijani</option>
      <option> Bahamian</option>
      <option> Bahraini</option>
      <option> Bangladeshi</option>
      <option> Barbadian</option>
      <option> Barbudans</option>
      <option> Batswana</option>
      <option> Belarusian</option>
      <option> Belgian</option>
      <option> Belizean</option>
      <option> Beninese</option>
      <option> Bhutanese</option>
      <option> Bolivian</option>
      <option> Bosnian</option>
      <option> Brazilian</option>
      <option> British</option>
      <option> Bruneian</option>
      <option> Bulgarian</option>
      <option> Burkinabe</option>
      <option> Burmese</option>
      <option> Burundian</option>
      <option> Cambodian</option>
      <option> Cameroonian</option>
      <option> Canadian</option>
      <option> Cape Verdean</option>
      <option> Central African</option>
      <option> Chadian</option>
      <option> Chilean</option>
      <option> Chinese</option>
      <option> Colombian</option>
      <option> Comoran</option>
      <option> Congolese</option>
      <option> Costa Rican</option>
      <option> Croatian</option>
      <option> Cuban</option>
      <option> Cypriot</option>
      <option> Czech</option>
      <option> Danish</option>
      <option> Djibouti</option>
      <option> Dominican</option>
      <option> Dutch</option>
      <option> East Timorese</option>
      <option> Ecuadorean</option>
      <option> Egyptian</option>
      <option> Emirian</option>
      <option> Equatorial Guinean</option>
      <option> Eritrean</option>
      <option> Estonian</option>
      <option> Ethiopian</option>
      <option> Fijian</option>
      <option> Filipino</option>
      <option> Finnish</option>
      <option> French</option>
      <option> Gabonese</option>
      <option> Gambian</option>
      <option> Georgian</option>
      <option> German</option>
      <option> Ghanaian</option>
      <option> Greek</option>
      <option> Grenadian</option>
      <option> Guatemalan</option>
      <option> Guinea-Bissauan</option>
      <option> Guinean</option>
      <option> Guyanese</option>
      <option> Haitian</option>
      <option> Herzegovinian</option>
      <option> Honduran</option>
      <option> Hungarian</option>
      <option> I-Kiribati</option>
      <option> Icelander</option>
      <option> Indian</option>
      <option> Indonesian</option>
      <option> Iranian</option>
      <option> Iraqi</option>
      <option> Irish</option>
      <option> Israeli</option>
      <option> Italian</option>
      <option> Ivorian</option>
      <option> Jamaican</option>
      <option> Japanese</option>
      <option> Jordanian</option>
      <option> Kazakhstani</option>
      <option> Kenyan</option>
      <option> Kittian and Nevisian</option>
      <option> Kuwaiti</option>
      <option> Kyrgyz</option>
      <option> Laotian</option>
      <option> Latvian</option>
      <option> Lebanese</option>
      <option> Liberian</option>
      <option> Libyan</option>
      <option> Liechtensteiner</option>
      <option> Lithuanian</option>
      <option> Luxembourger</option>
      <option> Macedonian</option>
      <option> Malagasy</option>
      <option> Malawian</option>
      <option> Malaysian</option>
      <option> Maldivan</option>
      <option> Malian</option>
      <option> Maltese</option>
      <option> Marshallese</option>
      <option> Mauritanian</option>
      <option> Mauritian</option>
      <option> Mexican</option>
      <option> Micronesian</option>
      <option> Moldovan</option>
      <option> Monacan</option>
      <option> Mongolian</option>
      <option> Moroccan</option>
      <option> Mosotho</option>
      <option> Motswana</option>
      <option> Mozambican</option>
      <option> Namibian</option>
      <option> Nauruan</option>
      <option> Nepalese</option>
      <option> New Zealander</option>
      <option> Nicaraguan</option>
      <option> Nigerian</option>
      <option> Nigerien</option>
      <option> North Korean</option>
      <option> Northern Irish</option>
      <option> Norwegian</option>
      <option> Omani</option>
      <option> Pakistani</option>
      <option> Palauan</option>
      <option> Panamanian</option>
      <option> Papua New Guinean</option>
      <option> Paraguayan</option>
      <option> Peruvian</option>
      <option> Polish</option>
      <option> Portuguese</option>
      <option> Qatari</option>
      <option> Romanian</option>
      <option> Russian</option>
      <option> Rwandan</option>
      <option> Saint Lucian</option>
      <option> Salvadoran</option>
      <option> Samoan</option>
      <option> San Marinese</option>
      <option> Sao Tomean</option>
      <option> Saudi</option>
      <option> Scottish</option>
      <option> Senegalese</option>
      <option> Serbian</option>
      <option> Seychellois</option>
      <option> Sierra Leonean</option>
      <option> Singaporean</option>
      <option> Slovakian</option>
      <option> Slovenian</option>
      <option> Solomon Islander</option>
      <option> Somali</option>
      <option> South African</option>
      <option> South Korean</option>
      <option> Spanish</option>
      <option> Sri Lankan</option>
      <option> Sudanese</option>
      <option> Surinamer</option>
      <option> Swazi</option>
      <option> Swedish</option>
      <option> Swiss</option>
      <option> Syrian</option>
      <option> Taiwanese</option>
      <option> Tajik</option>
      <option> Tanzanian</option>
      <option> Thai</option>
      <option> Togolese</option>
      <option> Tongan</option>
      <option> Trinidadian or Tobagonian</option>
      <option> Tunisian</option>
      <option> Turkish</option>
      <option> Tuvaluan</option>
      <option> Ugandan</option>
      <option> Ukrainian</option>
      <option> Uruguayan</option>
      <option> Uzbekistani</option>
      <option> Venezuelan</option>
      <option> Vietnamese</option>
      <option> Welsh</option>
      <option> Yemenite</option>
      <option> Zambian</option>
      <option> Zimbabwean</option>

    </select></td>
</tr>
<tr>
<td>Citizenship:</td>
<td>
  <select id="civil_status" name="personal_detail[civil_status]" class="input-xlarge dropdown-value" data-chosen-value="<%= @personal_details.civil_status %>">
    <option>Select One</option>
    <option> Afghan</option>
    <option> Albanian</option>
    <option> Algerian</option>
    <option> American</option>
    <option> Andorran</option>
    <option> Angolan</option>
    <option> Antiguans</option>
    <option> Argentinean</option>
    <option> Armenian</option>
    <option> Australian</option>
    <option> Austrian</option>
    <option> Azerbaijani</option>
    <option> Bahamian</option>
    <option> Bahraini</option>
    <option> Bangladeshi</option>
    <option> Barbadian</option>
    <option> Barbudans</option>
    <option> Batswana</option>
    <option> Belarusian</option>
    <option> Belgian</option>
    <option> Belizean</option>
    <option> Beninese</option>
    <option> Bhutanese</option>
    <option> Bolivian</option>
    <option> Bosnian</option>
    <option> Brazilian</option>
    <option> British</option>
    <option> Bruneian</option>
    <option> Bulgarian</option>
    <option> Burkinabe</option>
    <option> Burmese</option>
    <option> Burundian</option>
    <option> Cambodian</option>
    <option> Cameroonian</option>
    <option> Canadian</option>
    <option> Cape Verdean</option>
    <option> Central African</option>
    <option> Chadian</option>
    <option> Chilean</option>
    <option> Chinese</option>
    <option> Colombian</option>
    <option> Comoran</option>
    <option> Congolese</option>
    <option> Costa Rican</option>
    <option> Croatian</option>
    <option> Cuban</option>
    <option> Cypriot</option>
    <option> Czech</option>
    <option> Danish</option>
    <option> Djibouti</option>
    <option> Dominican</option>
    <option> Dutch</option>
    <option> East Timorese</option>
    <option> Ecuadorean</option>
    <option> Egyptian</option>
    <option> Emirian</option>
    <option> Equatorial Guinean</option>
    <option> Eritrean</option>
    <option> Estonian</option>
    <option> Ethiopian</option>
    <option> Fijian</option>
    <option> Filipino</option>
    <option> Finnish</option>
    <option> French</option>
    <option> Gabonese</option>
    <option> Gambian</option>
    <option> Georgian</option>
    <option> German</option>
    <option> Ghanaian</option>
    <option> Greek</option>
    <option> Grenadian</option>
    <option> Guatemalan</option>
    <option> Guinea-Bissauan</option>
    <option> Guinean</option>
    <option> Guyanese</option>
    <option> Haitian</option>
    <option> Herzegovinian</option>
    <option> Honduran</option>
    <option> Hungarian</option>
    <option> I-Kiribati</option>
    <option> Icelander</option>
    <option> Indian</option>
    <option> Indonesian</option>
    <option> Iranian</option>
    <option> Iraqi</option>
    <option> Irish</option>
    <option> Israeli</option>
    <option> Italian</option>
    <option> Ivorian</option>
    <option> Jamaican</option>
    <option> Japanese</option>
    <option> Jordanian</option>
    <option> Kazakhstani</option>
    <option> Kenyan</option>
    <option> Kittian and Nevisian</option>
    <option> Kuwaiti</option>
    <option> Kyrgyz</option>
    <option> Laotian</option>
    <option> Latvian</option>
    <option> Lebanese</option>
    <option> Liberian</option>
    <option> Libyan</option>
    <option> Liechtensteiner</option>
    <option> Lithuanian</option>
    <option> Luxembourger</option>
    <option> Macedonian</option>
    <option> Malagasy</option>
    <option> Malawian</option>
    <option> Malaysian</option>
    <option> Maldivan</option>
    <option> Malian</option>
    <option> Maltese</option>
    <option> Marshallese</option>
    <option> Mauritanian</option>
    <option> Mauritian</option>
    <option> Mexican</option>
    <option> Micronesian</option>
    <option> Moldovan</option>
    <option> Monacan</option>
    <option> Mongolian</option>
    <option> Moroccan</option>
    <option> Mosotho</option>
    <option> Motswana</option>
    <option> Mozambican</option>
    <option> Namibian</option>
    <option> Nauruan</option>
    <option> Nepalese</option>
    <option> New Zealander</option>
    <option> Nicaraguan</option>
    <option> Nigerian</option>
    <option> Nigerien</option>
    <option> North Korean</option>
    <option> Northern Irish</option>
    <option> Norwegian</option>
    <option> Omani</option>
    <option> Pakistani</option>
    <option> Palauan</option>
    <option> Panamanian</option>
    <option> Papua New Guinean</option>
    <option> Paraguayan</option>
    <option> Peruvian</option>
    <option> Polish</option>
    <option> Portuguese</option>
    <option> Qatari</option>
    <option> Romanian</option>
    <option> Russian</option>
    <option> Rwandan</option>
    <option> Saint Lucian</option>
    <option> Salvadoran</option>
    <option> Samoan</option>
    <option> San Marinese</option>
    <option> Sao Tomean</option>
    <option> Saudi</option>
    <option> Scottish</option>
    <option> Senegalese</option>
    <option> Serbian</option>
    <option> Seychellois</option>
    <option> Sierra Leonean</option>
    <option> Singaporean</option>
    <option> Slovakian</option>
    <option> Slovenian</option>
    <option> Solomon Islander</option>
    <option> Somali</option>
    <option> South African</option>
    <option> South Korean</option>
    <option> Spanish</option>
    <option> Sri Lankan</option>
    <option> Sudanese</option>
    <option> Surinamer</option>
    <option> Swazi</option>
    <option> Swedish</option>
    <option> Swiss</option>
    <option> Syrian</option>
    <option> Taiwanese</option>
    <option> Tajik</option>
    <option> Tanzanian</option>
    <option> Thai</option>
    <option> Togolese</option>
    <option> Tongan</option>
    <option> Trinidadian or Tobagonian</option>
    <option> Tunisian</option>
    <option> Turkish</option>
    <option> Tuvaluan</option>
    <option> Ugandan</option>
    <option> Ukrainian</option>
    <option> Uruguayan</option>
    <option> Uzbekistani</option>
    <option> Venezuelan</option>
    <option> Vietnamese</option>
    <option> Welsh</option>
    <option> Yemenite</option>
    <option> Zambian</option>
    <option> Zimbabwean</option>

  </select>
</td>
</tr>
<tr>
  <td>Current Telephone No:</td>
  <td>
    <input id="home-phone" name="personal_detail[current_telephone]" value="<%= @personal_details.current_telephone %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Current Mobile No:</td>
  <td>
    <input id="home-phone" name="personal_detail[current_mobile]" value="<%= @personal_details.current_mobile %>" type="text" class="input-xlarge">
  </td>
</tr>
</table>

</form>
<button id="personal_edit_link_close" name="personal_edit_link_close" class="patrick-btn" style="margin-left: 170px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Close
</button>
<button id="personal-update" name="personal-update" class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Update
  Details
</button>


</div>


</div>
<!---->
<div id="mailing_address" title="Mailing Address and Contact Information">
<form id="mailing-details-form" class="form-horizontal" method="post" action="/admissions/submit/<%= @online_application.id %>">

  <span>
<table style="padding-left: 50px;color: #7d7d7d;width: 500;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
<tr>
  <td>Address Line 1:</td>
  <td>
    <input id="address-1" name="personal_detail[address_1]" value="<%= @personal_details.address_1 %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Address Line 2:</td>
  <td>
    <input id="address-2" name="personal_detail[address_2]" value="<%= @personal_details.address_2 %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Address Line 3:</td>
  <td>
    <input id="address-2" name="personal_detail[address_3]" value="<%= @personal_details.address_3 %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>City:</td>
  <td>
    <input id="city" name="personal_detail[city]" value="<%= @personal_details.city %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Postal Code:</td>
  <td>
    <input id="address-post-code" name="personal_detail[address_post_code]" value="<%= @personal_details.address_post_code %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
<td>Country:</td>
<td>
<select id="address-country" name="personal_detail[address_country]" class="input-xlarge dropdown-value" data-chosen-value="<%= @personal_details.address_country %>">
<option>Select One</option>
<option>Afghanistan</option>
<option>Åland Islands</option>
<option>Albania</option>
<option>Algeria</option>
<option>American Samoa</option>
<option>Andorra</option>
<option>Angola</option>
<option>Anguilla</option>
<option>Antarctica</option>
<option>Antigua And Barbuda</option>
<option>Argentina</option>
<option>Armenia</option>
<option>Aruba</option>
<option>Australia</option>
<option>Austria</option>
<option>Azerbaijan</option>
<option>Bahamas</option>
<option>Bahrain</option>
<option>Bangladesh</option>
<option>Barbados</option>
<option>Belarus</option>
<option>Belgium</option>
<option>Belize</option>
<option>Benin</option>
<option>Bermuda</option>
<option>Bhutan</option>
<option>Bolivia</option>
<option>Bosnia And Herzegovina</option>
<option>Botswana</option>
<option>Bouvet Island</option>
<option>Brazil</option>
<option>British Indian Ocean Territory</option>
<option>Brunei Darussalam</option>
<option>Bulgaria</option>
<option>Burkina Faso</option>
<option>Burundi</option>
<option>Cambodia</option>
<option>Cameroon</option>
<option>Canada</option>
<option>Cape Verde</option>
<option>Cayman Islands</option>
<option>Central African Republic</option>
<option>Chad</option>
<option>Chile</option>
<option>China</option>
<option>Christmas Island</option>
<option>Cocos (keeling) Islands</option>
<option>Colombia</option>
<option>Comoros</option>
<option>Congo</option>
<option>Congo, The Democratic Republic Of The</option>
<option>Cook Islands</option>
<option>Costa Rica</option>
<option>CÔte D'ivoire</option>
<option>Croatia</option>
<option>Cuba</option>
<option>Cyprus</option>
<option>Czech Republic</option>
<option>Denmark</option>
<option>Djibouti</option>
<option>Dominica</option>
<option>Dominican Republic</option>
<option>Ecuador</option>
<option>Egypt</option>
<option>El Salvador</option>
<option>Equatorial Guinea</option>
<option>Eritrea</option>
<option>Estonia</option>
<option>Ethiopia</option>
<option>Falkland Islands (malvinas)</option>
<option>Faroe Islands</option>
<option>Fiji</option>
<option>Finland</option>
<option>France</option>
<option>French Guiana</option>
<option>French Polynesia</option>
<option>French Southern Territories</option>
<option>Gabon</option>
<option>Gambia</option>
<option>Georgia</option>
<option>Germany</option>
<option>Ghana</option>
<option>Gibraltar</option>
<option>Greece</option>
<option>Greenland</option>
<option>Grenada</option>
<option>Guadeloupe</option>
<option>Guam</option>
<option>Guatemala</option>
<option>Guernsey</option>
<option>Guinea</option>
<option>Guinea-bissau</option>
<option>Guyana</option>
<option>Haiti</option>
<option>Heard Island And Mcdonald Islands</option>
<option>Honduras</option>
<option>Hong Kong</option>
<option>Hungary</option>
<option>Iceland</option>
<option>India</option>
<option>Indonesia</option>
<option>Iran, Islamic Republic Of</option>
<option>Iraq</option>
<option>Ireland</option>
<option>Isle Of Man</option>
<option>Israel</option>
<option>Italy</option>
<option>Jamaica</option>
<option>Japan</option>
<option>Jersey</option>
<option>Jordan</option>
<option>Kazakhstan</option>
<option>Kenya</option>
<option>Kiribati</option>
<option>Korea, Democratic People's Republic Of</option>
<option>Korea, Republic Of</option>
<option>Kuwait</option>
<option>Kyrgyzstan</option>
<option>Lao People's Democratic Republic</option>
<option>Latvia</option>
<option>Lebanon</option>
<option>Lesotho</option>
<option>Liberia</option>
<option>Libyan Arab Jamahiriya</option>
<option>Liechtenstein</option>
<option>Lithuania</option>
<option>Luxembourg</option>
<option>Macao</option>
<option>Macedonia, The Former Yugoslav Republic Of</option>
<option>Madagascar</option>
<option>Malawi</option>
<option>Malaysia</option>
<option>Maldives</option>
<option>Mali</option>
<option>Malta</option>
<option>Marshall Islands</option>
<option>Martinique</option>
<option>Mauritania</option>
<option>Mauritius</option>
<option>Mayotte</option>
<option>Mexico</option>
<option>Micronesia, Federated States Of</option>
<option>Moldova</option>
<option>Monaco</option>
<option>Mongolia</option>
<option>Montenegro</option>
<option>Montserrat</option>
<option>Morocco</option>
<option>Mozambique</option>
<option>Myanmar</option>
<option>Namibia</option>
<option>Nauru</option>
<option>Nepal</option>
<option>Netherlands</option>
<option>Netherlands Antilles</option>
<option>New Caledonia</option>
<option>New Zealand</option>
<option>Nicaragua</option>
<option>Niger</option>
<option>Nigeria</option>
<option>Niue</option>
<option>Norfolk Island</option>
<option>Northern Mariana Islands</option>
<option>Norway</option>
<option>Oman</option>
<option>Pakistan</option>
<option>Palau</option>
<option>Palestinian Territory, Occupied</option>
<option>Panama</option>
<option>Papua New Guinea</option>
<option>Paraguay</option>
<option>Peru</option>
<option>Philippines</option>
<option>Pitcairn</option>
<option>Poland</option>
<option>Portugal</option>
<option>Puerto Rico</option>
<option>Qatar</option>
<option>RÉunion</option>
<option>Romania</option>
<option>Russian Federation</option>
<option>Rwanda</option>
<option>Saint BarthÉlemy</option>
<option>Saint Helena</option>
<option>Saint Kitts And Nevis</option>
<option>Saint Lucia</option>
<option>Saint Martin</option>
<option>Saint Pierre And Miquelon</option>
<option>Saint Vincent And The Grenadines</option>
<option>Samoa</option>
<option>San Marino</option>
<option>Sao Tome And Principe</option>
<option>Saudi Arabia</option>
<option>Senegal</option>
<option>Serbia</option>
<option>Seychelles</option>
<option>Sierra Leone</option>
<option>Singapore</option>
<option>Slovakia</option>
<option>Slovenia</option>
<option>Solomon Islands</option>
<option>Somalia</option>
<option>South Africa</option>
<option>South Georgia And The South Sandwich Islands</option>
<option>Spain</option>
<option>Sri Lanka</option>
<option>Sudan</option>
<option>Suriname</option>
<option>Svalbard And Jan Mayen</option>
<option>Swaziland</option>
<option>Sweden</option>
<option>Switzerland</option>
<option>Syrian Arab Republic</option>
<option>Taiwan, Province Of China</option>
<option>Tajikistan</option>
<option>Tanzania, United Republic Of</option>
<option>Thailand</option>
<option>Timor-leste</option>
<option>Togo</option>
<option>Tokelau</option>
<option>Tonga</option>
<option>Trinidad And Tobago</option>
<option>Tunisia</option>
<option>Turkey</option>
<option>Turkmenistan</option>
<option>Turks And Caicos Islands</option>
<option>Tuvalu</option>
<option>Uganda</option>
<option>Ukraine</option>
<option>United Arab Emirates</option>
<option>United Kingdom</option>
<option>United States</option>
<option>United States Minor Outlying Islands</option>
<option>Uruguay</option>
<option>Uzbekistan</option>
<option>Vanuatu</option>
<option>Vatican City State</option>
<option>Venezuela</option>
<option>Viet Nam</option>
<option>Virgin Islands, British</option>
<option>Virgin Islands, U.s.</option>
<option>Wallis And Futuna</option>
<option>Western Sahara</option>
<option>Yemen</option>
<option>Zambia</option>
<option>Zimbabwe</option>
</select></td>
</tr>
<tr>
  <td>Home Address:</td>
  <td>
    <input id="home-phone" name="personal_detail[home_address]" value="<%= @personal_details.home_address %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Home City:</td>
  <td>
    <input id="home-phone" name="personal_detail[home_city]" value="<%= @personal_details.home_city %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Home Country:</td>
  <td>
    <input id="home-phone" name="personal_detail[home_country]" value="<%= @personal_details.home_country %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Home Postal Code:</td>
  <td>
    <input id="home-phone" name="personal_detail[home_postal]" value="<%= @personal_details.home_postal %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Home Telephone:</td>
  <td>
    <input id="home-phone" name="personal_detail[home_phone]" value="<%= @personal_details.home_phone %>" type="text" class="input-xlarge">
  </td>
</tr>
<tr>
  <td>Home Mobile:</td>
  <td>
    <input id="cell-phone" name="personal_detail[cell_phone]" value="<%= @personal_details.cell_phone %>" type="text" class="input-xlarge">
  </td>
</tr>
</table>
</span>


</form>
<button id="cancel_mailing" name="cancel_mailing" class="patrick-btn" style="margin-left: 170px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Close
</button>
<button id="mailing-update" name="mailing-update" class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Update
  Details
</button>

</div>
<!-- -->
<div id="education_dialog" title="Educational Details" style="overflow-y: auto;">
  <span>

  <form id="education-details-form" name="educationdetails" class="form-horizontal" method="post" action="/admissions/submit/<%= @online_application.id %>">

  <table style="padding-left: 50px;width: 565;color: #7d7d7d;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
    <tr>
      <td>Program/Course Title:</td>
      <td>
        <select id="last-school-course-title" name="education_detail[last_school_course_title]" class="input-xlarge dropdown-value" data-chosen-value="<%= @education_detail.last_school_course_title %>">
          <option>MBA - Master of Business Administration</option>
          <option>Master's Degree</option>
        </select>
      </td>

    </tr>
    <tr>
      <td>Class Year:</td>
      <td>
        <input id="last-school-year-date" name="education_detail[class_year]" value="<%= @education_detail.class_year %>" type="text" class="input-xlarge">
      </td>
    </tr>
    <tr>
      <td>Graduation Date (approximate):</td>
      <td>
        <input id="last-school-end-date" name="education_detail[last_school_end_date]" value="<%= @education_detail.last_school_end_date %>" type="text" class="input-xlarge date-pick non-dob">
      </td>
    </tr>
    <tr>
      <td>Do you Have Scholarship?:</td>
      <td>
        <select name="education_detail[scholarship]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @education_detail.scholarship %>">
          <option>Yes</option>
          <option>No</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Club Affiliations:</td>
      <td>
        <% @online_application.club_affiliation.each do |club_affiliation| %>
            <span id="club_affi<%= club_affiliation.id %>" class="language-container" >&bull; <%= club_affiliation.affiliation %> <button  id="<%= club_affiliation.id %>" class="club-affiliation-delete">delete</button><br></span>

        <% end %>
      </td>
      <td><a href="#" id="club_aff"> add</a> </td>
    </tr>
    <tr>
      <td>Other Graduate Degrees:</td>
      <td><% @online_application.other_graduates.each do |other_graduate| %>
            <span id="other_grad_disp<%= other_graduate.id %>" class="language-container" >&bull; <%= other_graduate.other_degree %> <%	 if other_graduate.sub_other_degree.present? %>- <%= other_graduate.sub_other_degree %> <% end %><button  id="<%= other_graduate.id %>" class="other-degree-delete">delete</button><br></span>

        <% end %></td>
      <td><a href="#" id="other_grad_open">add</a> </td>
    </tr>
    <tr>
      <td>MBA Schools:</td>
      <td>
        <input id="last-school-end-date" name="education_detail[mba_school]" value="<%= @education_detail.mba_school %>" type="text" class="input-xlarge">
      </td>
    </tr>
    <tr>
      <td>Certifications/Licenses:</td>
      <td>
        <select name="education_detail[certification]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @education_detail.certification %>">
          <option>Select One</option>
          <option>Architect License</option>
          <option>CDP</option>
          <option>CFA</option>
          <option>CFP</option>
          <option>CISA</option>
          <option>CPA</option>
          <option>CSP</option>
          <option>DVM</option>
          <option>EIT</option>
          <option>FRM</option>
          <option>PE</option>
          <option>PHR</option>
          <option>Pilot License</option>
          <option>Real Estate License</option>
          <option>RN</option>
          <option>Series 7</option>
          <option>Series 63</option>
          <option>Security Clearance</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Undergraduate Major:</td>
      <td>
        <% @online_application.undergraduate_majors.each do |undergraduate_major| %>
            <span id="undergrad_disp<%= undergraduate_major.id %>" class="language-container" > &bull; <%= undergraduate_major.undergrad %> <%if undergraduate_major.sub_undergrad.present? %> - <%=undergraduate_major.sub_undergrad %> <% end %>  <button  id="<%= undergraduate_major.id %>" class="undergraduate-major-delete">delete</button><br></span>

        <% end %>


          </td>
      <td><a href="#" id="under_grad_open"> add</a></td>
    </tr>

  </table>

</form>
<form id="-language-education-details-form" name="languageeducationdetails" class="form-horizontal" method="post" action="/admissions/language/<%= @online_application.id %>">
  <table style="padding-left: 60px; margin-left: 6px;width: 565;color: #7d7d7d;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
    <tr>
      <td>Language Ability:</td>
      <td style="padding-left:80px; ">
        <% @online_application.language_abilities.each do |language_ability| %>
            <span style="margin-bottom: 10px;" id="lang<%= language_ability.id %>" class="language-container2" >&bull; <%= language_ability.name %> - <%= language_ability.level %><button  id="<%= language_ability.id %>" class="language-ability-delete" style="margin-left: 10px;">delete</button><br></span>

        <% end %>
      </td>
    </tr><tr><td>&nbsp;</td>
    <td>
        <!--<input id="last-school-end-date" name="education_detail[language]" value="<%= @education_detail.language %>" type="text" class="input-xlarge">-->
        <select name="language_name" id="category" onchange="javascript: languagefunction(this.options[this.selectedIndex].value);" style="width: 180px;">
          <option>Select One</option>
          <option>	   Albanian	</option>
          <option>	   American Sign Language 	</option>
          <option>	   Arabic 	</option>
          <option>	   Armenian 	</option>
          <option>	   Azerbaijani 	</option>
          <option>	   Belarusian 	</option>
          <option>	   Bengali 	</option>
          <option>	   Bhojpuri 	</option>
          <option>	   Bosnian 	</option>
          <option>	   Bulgarian 	</option>
          <option>	   Burmese 	</option>
          <option>	   Cantonese 	</option>
          <option>	   Catalan 	</option>
          <option>	   Croatian 	</option>
          <option>	   Czech 	</option>
          <option>	   Danish 	</option>
          <option>	   Dutch 	</option>
          <option>	   Farsi 	</option>
          <option>	   Fijian 	</option>
          <option>	   Filipino 	</option>
          <option>	   Finnish 	</option>
          <option>	   French 	</option>
          <option>	   Georgian 	</option>
          <option>	   German 	</option>
          <option>	   Greek 	</option>
          <option>	   Gujarati 	</option>
          <option>	   Hakka 	</option>
          <option>	   Hebrew 	</option>
          <option>	   Hindi 	</option>
          <option>	   Hungarian 	</option>
          <option>	   Icelandic 	</option>
          <option>	   Indonesian 	</option>
          <option>	   Italian 	</option>
          <option>	   Japanese 	</option>
          <option>	   Javanese 	</option>
          <option>	   Kannada 	</option>
          <option>	   Kazakh 	</option>
          <option>	   Khmer 	</option>
          <option>	   Korean 	</option>
          <option>	   Kurdish 	</option>
          <option>	   Lao 	</option>
          <option>	   Latin 	</option>
          <option>	   Latvian 	</option>
          <option>	   Lithuanian 	</option>
          <option>	   Maithili 	</option>
          <option>	   Malay 	</option>
          <option>	   Malayalam 	</option>
          <option>	   Mandarin 	</option>
          <option>	   Maori 	</option>
          <option>	   Marathi 	</option>
          <option>	   Min 	</option>
          <option>	   Mongol 	</option>
          <option>	   Nepali 	</option>
          <option>	   Norwegian 	</option>
          <option>	   Oriya 	</option>
          <option>	   Pashto 	</option>
          <option>	   Persian 	</option>
          <option>	   Polish 	</option>
          <option>	   Portuguese 	</option>
          <option>	   Punjabi 	</option>
          <option>	   Romanian 	</option>
          <option>	   Russian 	</option>
          <option>	   Serbo-Croatian 	</option>
          <option>	   Shona 	</option>
          <option>	   Sindhi 	</option>
          <option>	   Sinhala 	</option>
          <option>	   Slovak 	</option>
          <option>	   Slovene 	</option>
          <option>	   Spanish 	</option>
          <option>	   Swahili 	</option>
          <option>	   Swedish 	</option>
          <option>	   Tagalog 	</option>
          <option>	   Taiwanese 	</option>
          <option>	   Tamil 	</option>
          <option>	   Telugu 	</option>
          <option>	   Thai 	</option>
          <option>	   Turkish 	</option>
          <option>	   Ukrainian 	</option>
          <option>	   Urdu 	</option>
          <option>	   Uzbek 	</option>
          <option>	   Vietnamese 	</option>
          <option>	   Wu 	</option>

        </select>

      </td>
      <td>
        <script type="text/javascript" language="JavaScript">
            document.write('<select name="language_level" id="subcategory3" style="width:140px; "><option value="">Select Language</option></select>')
        </script>
        <noscript><select name="language_abilities[]" id="subcategory" >
          <option value="">Select Language First</option>
        </select>
        </noscript>
      </td>
      <td><button>add</button></td>
    </tr>
  </table>
</form>
  </span>
  <span>
    <button id="cancel_education" name="cancel_education" class="patrick-btn" style="margin-left: 200px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">
      Cancel
    </button>
    <button id="education-details-submit" name="education-details-submit" class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Update
      Details
    </button>

  </span>
</div>
<!-- -->
<div id="professional_dialog" title="Professional Experience" style="overflow-y: auto;">

  <span s>
     <form id="professional-details-form"  class="form-horizontal" method="post" action="/admissions/submit/<%= @online_application.id %>">
     <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
     <tr>
       <td>Total Years of Work Experience:</td>
       <td>
         <select id="years_ofexp" name="employment_detail[years_ofexp]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.years_ofexp %>">
           <option>Less than 2 years</option>
           <option>2-5 years</option>
           <option>5-10 years</option>
           <option>10-15 years</option>
           <option>15-20 years</option>
           <option>20 - 25 Years</option>
           <option>25 + Years</option>
         </select>
       </td>
     </tr>
     <tr>
       <td>Function - Experience:</td>
       <td>
         <!--<select name="employment_detail[function_exp]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.function_exp %>">-->
       <!--</select>-->
         <% @online_application.function_experiences.each do |function_experience| %>
             <span id="function<%= function_experience.id %>" class="language-container" ><%= function_experience.function %> - <%= function_experience.sub_function %><button  id="<%= function_experience.id %>" class="function-experience-delete">delete</button><br></span>

         <% end %>

       </td>
     </tr>
     <tr>
       <td>Industry - Experience:</td>
       <td>
         <% @online_application.industry_experiences.each do |industry_experience| %>
             <span id="industry<%= industry_experience.id %>" class="language-container" ><%= industry_experience.industry %> - <%= industry_experience.sub_industry %><button  id="<%= industry_experience.id %>" class="industry-experience-delete">delete</button> <br></span>

         <% end %>
         <!--<select id="industry_exp" name="employment_detail[industry_exp]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.industry_exp %>">-->

         <!--</select></td>-->
     </tr>
     <tr>
     <td>Work Authorization:</td>
     <td>
     <select name="employment_detail[work_authorization]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.work_authorization %>">
     <option>United States</option>
     <option>European Union</option>
     <option>Afghanistan</option>
     <option>Akrotiri</option>
     <option>Albania</option>
     <option>Algeria</option>
     <option>American Samoa</option>
     <option>Andorra</option>
     <option>Angola</option>
     <option>Anguilla</option>
     <option>Antarctica</option>
     <option>Antigua and Barbuda</option>
     <option>Argentina</option>
     <option>Armenia</option>
     <option>Aruba</option>
     <option>Ashmore and Cartier Islands</option>
     <option>Australia</option>
     <option>Austria</option>
     <option>Azerbaijan</option>
     <option>Bahamas</option>
     <option>Bahrain</option>
     <option>Baker Island</option>
     <option>Bangladesh</option>
     <option>Barbados</option>
     <option>Belarus</option>
     <option>Belgium</option>
     <option>Belize</option>
     <option>Benin</option>
     <option>Bermuda</option>
     <option>Bhutan</option>
     <option>Bolivia</option>
     <option>Bosnia and Herzegovina</option>
     <option>Botswana</option>
     <option>Bouvet Island</option>
     <option>Brazil</option>
     <option>British Virgin Islands</option>
     <option>Brunei</option>
     <option>Bulgaria</option>
     <option>Burkina Faso</option>
     <option>Burma</option>
     <option>Burundi</option>
     <option>Cambodia</option>
     <option>Cameroon</option>
     <option>Canada</option>
     <option>Cape Verde</option>
     <option>Cayman Islands</option>
     <option>Central African Republic</option>
     <option>Chad</option>
     <option>Chile</option>
     <option>China</option>
     <option>Christmas Island</option>
     <option>Clipperton Island</option>
     <option>Cocos (Keeling) Islands</option>
     <option>Colombia</option>
     <option>Comoros</option>
     <option>Congo - Democratic Republic of the</option>
     <option>Congo - Republic of the</option>
     <option>Cook Islands</option>
     <option>Coral Sea Islands</option>
     <option>Costa Rica</option>
     <option>Cote d'Ivoire</option>
     <option>Croatia</option>
     <option>Cuba</option>
     <option>Cyprus</option>
     <option>Czech Republic</option>
     <option>Denmark</option>
     <option>Dhekelia</option>
     <option>Djibouti</option>
     <option>Dominica</option>
     <option>Dominican Republic</option>
     <option>Ecuador</option>
     <option>Egypt</option>
     <option>El Salvador</option>
     <option>Equatorial Guinea</option>
     <option>Eritrea</option>
     <option>Estonia</option>
     <option>Ethiopia</option>
     <option>Europa Island</option>
     <option>Falkland Islands (Islas Malvinas)</option>
     <option>Faroe Islands</option>
     <option>Fiji</option>
     <option>Finland</option>
     <option>France</option>
     <option>French Polynesia</option>
     <option>French Southern and Antarctic Lands</option>
     <option>Gabon</option>
     <option>Gambia</option>
     <option>Gaza Strip</option>
     <option>Georgia</option>
     <option>Germany</option>
     <option>Ghana</option>
     <option>Gibraltar</option>
     <option>Greece</option>
     <option>Greenland</option>
     <option>Grenada</option>
     <option>Guam</option>
     <option>Guatemala</option>
     <option>Guernsey</option>
     <option>Guinea</option>
     <option>Guinea-Bissau</option>
     <option>Guyana</option>
     <option>Haiti</option>
     <option>Heard Island and McDonald Islands</option>
     <option>Holy See (Vatican City)</option>
     <option>Honduras</option>
     <option>Hong Kong</option>
     <option>Howland Island</option>
     <option>Hungary</option>
     <option>Iceland</option>
     <option>India</option>
     <option>Indonesia</option>
     <option>Iran</option>
     <option>Iraq</option>
     <option>Ireland</option>
     <option>Isle of Man</option>
     <option>Israel</option>
     <option>Italy</option>
     <option>Jamaica</option>
     <option>Jan Mayen</option>
     <option>Japan</option>
     <option>Jarvis Island</option>
     <option>Jersey</option>
     <option>Johnston Atoll</option>
     <option>Jordan</option>
     <option>Kazakhstan</option>
     <option>Kenya</option>
     <option>Kingman Reef</option>
     <option>Kiribati</option>
     <option>Korea - North</option>
     <option>Korea - South</option>
     <option>Kuwait</option>
     <option>Kyrgyzstan</option>
     <option>Laos</option>
     <option>Latvia</option>
     <option>Lebanon</option>
     <option>Lesotho</option>
     <option>Liberia</option>
     <option>Libya</option>
     <option>Liechtenstein</option>
     <option>Lithuania</option>
     <option>Luxembourg</option>
     <option>Macau</option>
     <option>Macedonia</option>
     <option>Madagascar</option>
     <option>Malawi</option>
     <option>Malaysia</option>
     <option>Maldives</option>
     <option>Mali</option>
     <option>Malta</option>
     <option>Marshall Islands</option>
     <option>Mauritania</option>
     <option>Mauritius</option>
     <option>Mayotte</option>
     <option>Mexico</option>
     <option>Micronesia - Federated States of</option>
     <option>Midway Islands</option>
     <option>Moldova</option>
     <option>Monaco</option>
     <option>Mongolia</option>
     <option>Montenegro</option>
     <option>Montserrat</option>
     <option>Morocco</option>
     <option>Mozambique</option>
     <option>Namibia</option>
     <option>Nauru</option>
     <option>Navassa Island</option>
     <option>Nepal</option>
     <option>Netherlands</option>
     <option>Netherlands Antilles</option>
     <option>New Caledonia</option>
     <option>New Zealand</option>
     <option>Nicaragua</option>
     <option>Niger</option>
     <option>Nigeria</option>
     <option>Niue</option>
     <option>Norfolk Island</option>
     <option>Northern Mariana Islands</option>
     <option>Norway</option>
     <option>Oman</option>
     <option>Pakistan</option>
     <option>Palau</option>
     <option>Palmyra Atoll</option>
     <option>Panama</option>
     <option>Papua New Guinea</option>
     <option>Paracel Islands</option>
     <option>Paraguay</option>
     <option>Peru</option>
     <option>Philippines</option>
     <option>Pitcairn Islands</option>
     <option>Poland</option>
     <option>Portugal</option>
     <option>Puerto Rico</option>
     <option>Qatar</option>
     <option>Romania</option>
     <option>Russia</option>
     <option>Rwanda</option>
     <option>Saint Helena</option>
     <option>Saint Kitts and Nevis</option>
     <option>Saint Lucia</option>
     <option>Saint Pierre and Miquelon</option>
     <option>Saint Vincent and the Grenadines</option>
     <option>Samoa</option>
     <option>San Marino</option>
     <option>Sao Tome and Principe</option>
     <option>Saudi Arabia</option>
     <option>Senegal</option>
     <option>Serbia and Montenegro</option>
     <option>Seychelles</option>
     <option>Sierra Leone</option>
     <option>Singapore</option>
     <option>Slovakia</option>
     <option>Slovenia</option>
     <option>Solomon Islands</option>
     <option>Somalia</option>
     <option>South Africa</option>
     <option>South Georgia and the South Sandwich Islands</option>
     <option>Spain</option>
     <option>Spratly Islands</option>
     <option>Sri Lanka</option>
     <option>Sudan</option>
     <option>Suriname</option>
     <option>Svalbard</option>
     <option>Swaziland</option>
     <option>Sweden</option>
     <option>Switzerland</option>
     <option>Syria</option>
     <option>Taiwan</option>
     <option>Tajikistan</option>
     <option>Tanzania</option>
     <option>Thailand</option>
     <option>Timor-Leste</option>
     <option>Togo</option>
     <option>Tokelau</option>
     <option>Tonga</option>
     <option>Trinidad and Tobago</option>
     <option>Tunisia</option>
     <option>Turkey</option>
     <option>Turkmenistan</option>
     <option>Turks and Caicos Islands</option>
     <option>Tuvalu</option>
     <option>Uganda</option>
     <option>Ukraine</option>
     <option>United Arab Emirates</option>
     <option>United Kingdom</option>
     <option>Uruguay</option>
     <option>Uzbekistan</option>
     <option>Vanuatu</option>
     <option>Venezuela</option>
     <option>Vietnam</option>
     <option>Virgin Islands</option>
     <option>Wake Island</option>
     <option>Wallis and Futuna</option>
     <option>West Bank</option>
     <option>Western Sahara</option>
     <option>Yemen</option>
     <option>Zambia</option>
     <option>Zimbabwe</option>


     </select></td>
     </tr>
     <tr>
       <td>Geographic - Experience:</td>
       <td>
         <% @online_application.geographic_experiences.each do |geographic_experience| %>
             <span id="geographic<%= geographic_experience.id %>" class="language-container" ><%= geographic_experience.continent %> - <%= geographic_experience.country %><button  id="<%= geographic_experience.id %>" class="geographic-experience-delete">delete</button><br></span>

         <% end %></td>
     </tr>
     <tr>
       <td>Years of Supervisory Work Experience:</td>
       <td>
         <select name="employment_detail[years_supervisor_exp]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.years_supervisor_exp %>">
           <option> 0 - 1 Years
           <option>
           <option> 1 - 3 Years
           <option>
           <option> 3 - 5 Years
           <option>
           <option> 5 - 10 Years
           <option>
           <option> 10 - 15 Years
           <option>
           <option> 15 + Years
           <option>

         </select></td>
     </tr>
     <tr>
       <td>Salary prior to MBA (per annum):</td>
       <td>
         <select name="employment_detail[salary_mba]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.salary_mba %>">
           <option>Below $10,000</option>
           <option>$10,000 - $14,999</option>
           <option>$15,000 - $19,999</option>
           <option>$20,000 - $24,999</option>
           <option>$25,000 - $29,999</option>
           <option>$30,000 - $34,999</option>
           <option>$35,000 - $39,999</option>
           <option>$40,000 - $44,999</option>
           <option>$45,000 - $49,999</option>
           <option>$50,000 above</option>
         </select></td>
     </tr>
     <tr>
       <td>Sabbatical?:</td>
       <td>
         <select name="employment_detail[sabbatical]" class="input-xlarge  dropdown-value" data-chosen-value="<%= @employment_detail.sabbatical %>">
           <option>Yes</option>
           <option>No</option>
         </select></td>
     </tr>
     <tr>
       <td>Name of Company before MBA:</td>
       <td>
         <input id="company-name" name="employment_detail[company_before_mba]" value="<%= @employment_detail.company_before_mba %>" type="text" class="input-xlarge">
       </td>
     </tr>
     <tr>
       <td>Location:</td>
       <td>
         <input id="company-name" name="employment_detail[company_location]" value="<%= @employment_detail.company_location %>" type="text" class="input-xlarge">
       </td>
     </tr>
     <tr>
       <td>Job title / designation:</td>
       <td>
         <input id="company-name" name="employment_detail[job_title]" value="<%= @employment_detail.job_title %>" type="text" class="input-xlarge">
       </td>
     </tr>
     <tr>
       <td>Bachelor's Degree:</td>
       <td>
         <input id="company-name" name="employment_detail[degree]" value="<%= @employment_detail.degree %>" type="text" class="input-xlarge">
       </td>
     </tr>
     <tr>
       <td>School:</td>
       <td>
         <input id="company-name" name="employment_detail[school]" value="<%= @employment_detail.school %>" type="text" class="input-xlarge">
       </td>
     </tr>
     </table>
     </form>
  </span>
  <span>
<form name="professional_detail" class="form-horizontal" method="post" action="/admissions/function/<%= @online_application.id %>">
  <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
    <tr>
      <td>Function - Experience:</td>
      <td>

        <select name="function" id="function" class="input-xlarge  dropdown-value" onchange="javascript: functionlist(this.options[this.selectedIndex].value);">
          <option value="">Select Category</option>
          <option>Administration	</option>
          <option>Advertising	</option>
          <option>Artist	</option>
          <option>Business Development	</option>
          <option>	Consulting	</option>
          <option>	Economic Analysis / Research	</option>
          <option>	Education (Administrator / Faculty)	</option>
          <option>	Engineering	</option>
          <option>	Entrepreneurship	</option>
          <option>	Finance	</option>
          <option>	Fundraising / Development	</option>
          <option>	Headhunters/ Exec. Search	</option>
          <option>	Healthcare	</option>
          <option>	Human Resources	</option>
          <option>	Journalist / Author / Writer / Editor	</option>
          <option>	Lawyer / Legal Professional	</option>
          <option>	Legislative Aide / Lobbying / Advocate	</option>
          <option>	Management	</option>
          <option>	Management Development Program	</option>
          <option>	Manufacturing	</option>
          <option>	Marketing	</option>
          <option>	Military	</option>
          <option>	Multimedia Production / Graphic Design	</option>
          <option>	Pharmaceuticals 	</option>
          <option>	Purchasing / Procurement	</option>
          <option>	Real Estate	</option>
          <option>	Research & Development	</option>
          <option>	Sales	</option>
          <option>	Strategic Planning / Corporate Development	</option>
          <option>	Information Technology	</option>
          <option>	Technical Writer	</option>
          <option>	Programmer	</option>

        </select>

      </td>
      <td>
        <script type="text/javascript" language="JavaScript">
            document.write('<select name="sub_function" id="sub_function" style="width: 223px;" class="input-xlarge  dropdown-value"><option value="">Select Sub-Category</option></select>')
        </script>
        <noscript><select name="function[]" id="subcategory" >
          <option value="">Select Sub-Category</option>
        </select>
        </noscript>
      </td>
      <td>
        <button>add</button>
      </td>
    </tr>
  </table>

</form>

  </span>

  <span>
    <form name="industry_professional_detail" class="form-horizontal" method="post" action="/admissions/industry/<%= @online_application.id %>">
      <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
        <tr>
          <td>Industry - Experience:</td>
          <td>
            <select name="industry" id="industry" class="input-xlarge  dropdown-value" onchange="javascript: industrylist(this.options[this.selectedIndex].value);">
              <option value="">Select Category</option>
              <option>	Accounting	</option>
              <option>	Advertising	</option>
              <option>	Aerospace / Aviation / Defense	</option>
              <option>	Agribusiness	</option>
              <option>	Automotive	</option>
              <option>	Construction	</option>
              <option>	Consulting	</option>
              <option>	Consumer Products	</option>
              <option>	Economic Development / Microfinance	</option>
              <option>	Education	</option>
              <option>	Energy / Utilities	</option>
              <option>	Engineering Services	</option>
              <option>	Entertainment	</option>
              <option>	Environmental Services & Sustainability	</option>
              <option>	Financial	</option>
              <option>	Government	</option>
              <option>	Healthcare	</option>
              <option>	Hospitality / Tourism	</option>
              <option>	Human Resources / Recruitment	</option>
              <option>	International Trade - Import / Export	</option>
              <option>	Law / Legal Services	</option>
              <option>	Manufacturing	</option>
              <option>	Media	</option>
              <option>	Natural Resources	</option>
              <option>	Nonprofits & Social Enterprises	</option>
              <option>	Pharmaceutical	</option>
              <option>	Real Estate	</option>
              <option>	Retail	</option>
              <option>	Technology	</option>
              <option>	Telecom	</option>
              <option>	Transportation / Logistics	</option>


            </select>
          </td>
          <td>
            <script type="text/javascript" language="JavaScript">
                document.write('<select name="sub_industry" id="sub_industry" style="width: 223px;" class="input-xlarge  dropdown-value"><option value="">Select Sub-Category</option></select>')
            </script>
            <noscript><select name="function[]" id="subcategory" >
              <option value="">Select Sub-Category</option>
            </select>
            </noscript>
          </td>
          <td>
            <button>add</button>
          </td>
            </tr>
      </table>

    </form>
  </span>
  <!--for the geographic-->
  <span>
    <form name="geographic_professional_detail" class="form-horizontal" method="post" action="/admissions/geographic/<%= @online_application.id %>">
      <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
        <tr>
          <td>Geographic - Experience:</td>
          <td>
            <select name="continent" id="continent" class="input-xlarge  dropdown-value" onchange="javascript: geographiclist(this.options[this.selectedIndex].value);">
              <option value="">Select Category</option>
              <option>	  NORTH AMERICA	</option>
              <option>	  AFRICA	</option>
              <option>	  ASIA	</option>
              <option>	  EUROPE	</option>
              <option>	  LATIN AMERICA & THE CARIBBEAN	</option>
              <option>	  MIDDLE EAST	</option>
              <option>	  OCEANIA  Australia 	</option>


            </select>
          </td>
          <td>
            <script type="text/javascript" language="JavaScript">
                document.write('<select name="country" id="geographic" style="width: 223px;" class="input-xlarge  dropdown-value"><option value="">Select Sub-Category</option></select>')
            </script>
            <noscript><select name="function[]" id="geographic" >
              <option value="">Select Sub-Category</option>
            </select>
            </noscript>
          </td>
          <td>
            <button>add</button>
          </td>
        </tr>
      </table>

    </form>
  </span>


  <span>
    <button id="cancel_professional" name="cancel_professional" class="patrick-btn" style="margin-left: 220px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">
      Cancel
    </button>
    <button id="professional-submit" name="professional-submit" class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Update
      Details
    </button>

  </span>

</div>

<div id="preferences_dialog" title="My Preferences" style="overflow-y: auto;">
<span>
  <form id="preference-details-form" class="form-horizontal" method="post" action="/admissions/submit/<%= @online_application.id %>">
    <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
      <tr>
        <td>Industry - Preference:</td>
        <td>
          <% @online_application.preference_industries.each do |preference_industry| %>
              <span id="pre_industry<%= preference_industry.id %>" class="language-container" ><%= preference_industry.industry %> - <%= preference_industry.sub_industry %><button  id="<%= preference_industry.id %>" class="preference-industry-delete">delete</button><br></span>

          <% end %>
        </td>
      </tr>
      <tr>
        <td>Most Important Criteria for Choosing a Job:</td>
        <td>
          <% @online_application.preference_criteriums.each do |preference_criteriums| %>
              <span id="pre_criteria<%= preference_criteriums.id %>" class="language-container" ><%= preference_criteriums.criteria %> <button  id="<%= preference_criteriums.id %>" class="preference-criteria-delete">delete</button><br></span>

          <% end %>
        </td>
      </tr>
      <tr>
        <td>Desired job titles:</td>
        <td>
          <input id="" name="preference[job_title]" value="<%= @preference.job_title %>" type="text" class="input-xlarge">
        </td>
      </tr>
      <tr>
        <td>Desired Salary after MBA (per annum):</td>
        <td>

          <select id="salary_after_mba" name="preference[salary_after_mba]" class="input-xlarge dropdown-value" data-chosen-value="<%= @preference.salary_after_mba %>">

            <option>Below $10,000</option>
            <option>$10,000 - $14,999</option>
            <option>$15,000 - $19,999</option>
            <option>$20,000 - $24,999</option>
            <option>$25,000 - $29,999</option>
            <option>$30,000 - $34,999</option>
            <option>$35,000 - $39,999</option>
            <option>$40,000 - $44,999</option>
            <option>$45,000 - $49,999</option>
            <option>$50,000 above</option>


          </select>

        </td>
      </tr>
      <tr>
        <td>Candidate Job Reporting Status:</td>
        <td>
          <input id="" name="preference[candidate_job_status]" value="<%= @preference.candidate_job_status %>" type="text" class="input-xlarge">
        </td>
      </tr>
    </table>

  </form>


<span>
    <form name="preference_industry_detail" class="form-horizontal" method="post" action="/admissions/preference_industry/<%= @online_application.id %>">
      <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
        <tr>
          <td>Industry - Experience:</td>
          <td>
            <select name="industry" id="industry" class="input-xlarge  dropdown-value" onchange="javascript: preferenceindustrylist(this.options[this.selectedIndex].value);">
              <option value="">	Select One Industry	</option>
              <option>	Consumer Products / Fast Moving Consumer Goods	</option>
              <option>	Banking	</option>
              <option>	Financial Services	</option>
              <option>	Advertising	</option>
              <option>	Aerospace / Aviation / Defense	</option>
              <option>	Agribusiness	</option>
              <option>	Automotive	</option>
              <option>	Real Estate	</option>
              <option>	Consulting	</option>
              <option>	Executive Search Firm/ Headhunters	</option>
              <option>	Education	</option>
              <option>	Energy / Utilities / Natural Resources	</option>
              <option>	Entertainment /Media	</option>
              <option>	Environmental Services & Sustainability	</option>
              <option>	Government / Military	</option>
              <option>	Healthcare	</option>
              <option>	Hospitality / Tourism	</option>
              <option>	Law / Legal Services	</option>
              <option>	Manufacturing	</option>
              <option>	Nonprofits & Social Enterprises	</option>
              <option>	Pharmaceutical	</option>
              <option>	Real Estate	</option>
              <option>	Retail	</option>
              <option>	Technology	</option>
              <option>	Telecommunication Services	</option>
              <option>	Transportation / Logistics	</option>

            </select>
          </td>
          <td>
            <script type="text/javascript" language="JavaScript">
                document.write('<select name="sub_industry" id="sub_industry" style="width: 223px;" class="input-xlarge  dropdown-value"><option value="">Select Sub-Category</option></select>')
            </script>
            <noscript><select name="function[]" id="subcategory" >
              <option value="">Select Sub-Category</option>
            </select>
            </noscript>
          </td>
          <td>
            <button>add</button>
          </td>
        </tr>
      </table>

    </form>
  </span>

  <span>
    <form name="preference_criteria_detail" class="form-horizontal" method="post" action="/admissions/preference_criteria/<%= @online_application.id %>">
      <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
        <tr>
          <td>Most Important Criteria for Choosing a Job:</td>
          <td>
            <select name="criteria" id="criteria" class="input-xlarge  dropdown-value" >
              <option value="">	Select One Industry	</option>
              <option>	Job Profile	</option>
              <option>	Location	</option>
              <option>	Compensation and Benefits	</option>
              <option>	Company	</option>
              <option>	Industry	</option>


            </select>
          </td>

          <td>
            <button>add</button>
          </td>
        </tr>
      </table>

    </form>
  </span>
  <span>
    <button id="cancel_preferences" name="cancel_preferences" class="patrick-btn" style="margin-left: 230px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">
      Cancel
    </button>
    <button id="preferences-submit" name="preferences-submit" class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">
      Update Details
    </button>

</span>
    </span>
</div>

<div id="change_pass_dialog" title="Change Password">
  <div id="dialog-content">
    <form id="change-pass-form" class="form-horizontal" method="post" action="/api/changePassword/<%= @online_application.id %>">
      <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
        <tr>
          <td>
          Current Password:</td>
          <td>
          <input type="password" id="password" name="CurrentPassword" >
          </td>
        </tr>
        <tr>
          <td>
          New Password:</td>
          <td>
          <input type="password" name="newPassword" id="form_password">
          </td>
        </tr>
        <tr>
          <td>
          Confirm Password:</td>
          <td>
          <input type="password" name="confirmPassword" >
          </td>
        </tr>
      </table>


    </form>
    <button class="patrick-btn" id="cancel_pass" name="cancel_pass" style="margin-left: 230px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" >Cancel</button>
    <button class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" id="changepass-submit" name="changepass-submit">Save Changes
    </button>
  </div>
</div>

<div id="change_email_dialog" title="Change Email">
  <div id="dialog-content">
    <form id="changeEmailForm"  method="post" action="/api/changeEmail/<%= @online_application.id %>">
      <table style="padding-left: 50px;color: #7d7d7d;width: 565;margin: 0 auto 0 auto;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;" cellpadding="3">
        <tr>
          <td>
          Current Email:</td>
          <td>
            <input name="currentEmail" type="text">
          </td>
        </tr>
        <tr>
          <td>
          New Email:</td>
          <td>
            <input type="text" name="newEmail"></td>
        </tr>
        <tr>
          <td>
          Confirm Email:</td>
          <td>
            <input type="text" name="confirmEmail"></td>
        </tr>
      </table>
      <button class="patrick-btn" style="margin-left: 230px;font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Cancel</button>
      <button class="patrick-btn" style="font-family: helvetica, verdana, arial, sans-serif;font-size: 12px;">Save Changes
      </button>
    </form>


  </div>
</div>

<div id="club_affiliation_dialog" title="Add Affiliation">

<form name="preference_criteria_detail" class="form-horizontal" method="post" action="/admissions/club_affiliation/<%= @online_application.id %>">
  <table>
    <tr>
      <td>Club Affiliations:</td>
      <td>
        <select name="affiliation" id="cl_affiliation" class="input-xlarge  dropdown-value" data-chosen-value="<%= @education_detail.affiliation %>">
          <option>Select One</option>
          <option>ADB Alumni Association Association</option>
          <option>AIM Green</option>
          <option>Consulting Club</option>
          <option>Cricket Club</option>
          <option>E-Club</option>
          <option>Entrepreneurial Club</option>
          <option>Finance Club</option>
          <option>IMSA(International Muslim Students Association)</option>
          <option>Marketing Club</option>
          <option>Movie "Popcorn" Club</option>
          <option>PACTS (Philanthropic Society)</option>
          <option>Sports Club</option>
          <option>Talent Club</option>
          <option>Other</option>
        </select>
        <input type="hidden" value="<%= @online_application.id %>" id="club_affi-id" >
      </td>
    </tr>
  </table>
  <button id="submit-club-affil" class="btn-info">submit</button>
</form>

</div>

<div id="undergrad_major_dialog" title="Add Undergraduate Major">

  <form name="undergrad_form" id="undergrad_form" class="form-horizontal" method="post" action="/admissions/undergrad_major/<%= @online_application.id %>">
    <table>
      <tr>
        <td>Undergraduate Major:</td>
        <td>
          <select id="undergrad" name="undergraduate_major" class="input-xlarge  dropdown-value" data-chosen-value="" onchange="javascript: undergrad2(this.options[this.selectedIndex].value);">
            <option>Select One</option>
            <option>Business</option>-->
            <option>Engineering</option>
            <option>Humanities</option>
            <option>Science</option>-->
            <<option>Social Sciences</option>

         </select>
          <input type="hidden" value="<%= @online_application.id %>" id="club_affi-id" >
    </td>
      <td><script type="text/javascript" language="JavaScript">
  document.write('<select name="subcategory22" id="subcategory22" style="visibility: hidden;width:170px;" ></select>')
     </script>
          <noscript><select name="education_detail[other_degree]" id="subcategory" >
          <option value="">Select Sub-Category</option>
          </select>
          </noscript></td>
      </tr>
    </table>
    <button id="submit-club-affil" class="btn-info">submit</button>
  </form>

</div>

<div id="other_grad_dialog" title="Add Other Graduate Degrees ">
  <form name="other_grad_forms" id="other_grad" class="form-horizontal" method="post" action="/admissions/other_degree/<%= @online_application.id %>">

    <table>
      <tr>
        <td>Other Graduate Degrees:</td>
        <td>
          <select name="other_degree" class="input-xlarge  dropdown-value" data-chosen-value="" onchange="javascript: dropdownlist(this.options[this.selectedIndex].value);">
            <option>Select One</option>
            <option>JD</option>
            <option>MA</option>
            <option>MD</option>
            <option>MS</option>
            <option>PhD</option>
            <option>Other Business Master's</option>

          </select>
        </td><td>
        <script type="text/javascript" language="JavaScript">
            document.write('<td><select name="subcategory55" id="subcategory55" style="visibility:hidden;width:170px;" ><option value="">Select One</option></select></td>')
        </script>
        <noscript><select name="education_detail[other_degree]" id="subcategory55" >
          <option value="">Select Sub-Category</option>
        </select>
        </noscript>
      </td>
      </tr>
    </table>
    <button class="btn">submit</button>
  </form>
</div>