<%= javascript_include_tag 'realtime' %>

<form id="application-form" class="form-horizontal" method="post" action="/admissions/submit/<%= @online_application.id %>">

<!-- Begin Page 1 -->
<div id="page-1">

<!-- Form Name -->

<!-- Text input-->
<div class="content">
<h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55">Personal
  Details<a href="#" id="personal_edit_link" style="color: black;font-size: 11px; margin-left: 517px;">[Edit]</a>
</h2>


<table class="student_table" cellpadding="3">
<tr>
  <td>First Name:</td>
  <td>
   <%= @personal_details.first_name %>
  </td>
</tr>
<tr>
  <td>Middle Name:</td>
  <td>
   <%= @personal_details.middle_name %>
  </td>
</tr>
<tr>
  <td>Last Name:</td>
  <td>
    <%= @personal_details.last_name %>
  </td>
</tr>
<tr>
  <td>Date of Birth:</td>
  <td><p class="data-placeholder"><%= @personal_details.dob.strftime('%d/%m/%Y') %></p></td>
</tr>
<tr>
  <td>Gender:</td>
  <td>
    <%= @personal_details.gender %></td>
</tr>
<tr>
<td>Nationality:</td>
<td>
  <%= @personal_details.citizenship %></td>
</tr>
<tr>
  <td>Citizenship:</td>
  <td>
    <%= @personal_details.civil_status %>
  </td>
</tr>
  <tr>
    <td>Current Telephone No:</td>
    <td>
      <%= @personal_details.current_telephone %>
    </td>
  </tr>
  <tr>
    <td>Current Mobile No:</td>
    <td>
      <%= @personal_details.current_mobile %>
    </td>
  </tr>
</table>
  <button id="submit-personal-info" name="submit-personal-info" class="patrick-btn" style="margin: 25px 255px;">Next - Address and Contact</button>
</div>
</div>
<!-- End Page 1 -->

<!-- Start Address Page-->

<div id="address-page">
  <div class="content">
    <h2 style="padding-top:30px;border-bottom: 2px solid #146D55;color: #146D55">Mailing Address and Contact
      Information<a href="#" id="mailing_edit_link" style="color: black;
            font-size: 11px;
            margin-left: 269px;
            position: absolute;
            padding: 0;">[Edit]</a>
    </h2>
    <table class="student_table" cellpadding="3">
      <tr>
        <td>Address Line 1:</td>
        <td>
          <%= @personal_details.address_1 %>
        </td>
      </tr>
      <tr>
        <td>Address Line 2:</td>
        <td>
          <%= @personal_details.address_2 %>
        </td>
      </tr>
      <tr>
        <td>Address Line 3:</td>
        <td>
          <%= @personal_details.address_3 %>
        </td>
      </tr>
      <tr>
        <td>City:</td>
        <td>
          <%= @personal_details.city %>
        </td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td>
          <%= @personal_details.address_post_code %>
        </td>
      </tr>
      <tr>
        <td>Country:</td>
        <td>
          <%= @personal_details.address_country %>
        </td>
      </tr>
      <tr>
        <td>Home Address:</td>
        <td>
          <%= @personal_details.home_address %>
        </td>
      </tr>
      <tr>
        <td>Home City:</td>
        <td>
          <%= @personal_details.home_city %>
        </td>
      </tr>
      <tr>
        <td>Home Country:</td>
        <td>
          <%= @personal_details.home_country %>
        </td>
      </tr>
      <tr>
        <td>Home Postal Code:</td>
        <td>
          <%= @personal_details.home_postal %>
        </td>
      </tr>
      <tr>
        <td>Home Telephone:</td>
        <td>
          <%= @personal_details.home_phone %>
        </td>
      </tr>
      <tr>
        <td>Home Mobile:</td>
        <td>
          <%= @personal_details.cell_phone %>
        </td>
      </tr>
    </table>
    <div class="controls" style="margin: 30px 185px;">
      <button id="submit-personal-details-back" name="submit-education-info-back" class="patrick-btn">Back
        -
        Personal
        Details
      </button>
      <button id="submit-address-info" name="submit-address-info" class="patrick-btn">Next - Education</button>
    </div>

  </div>
</div>

<!-- End Address Page-->

<!--Start Page 2-->
<div id="page-2">
  <div class="content">
    <h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55">Education<a href="#" id="education_edit_link" style="color: black;font-size: 11px; margin-left: 578px;">[Edit]</a>
    </h2>
    <table class="student_table" cellpadding="3">
      <tr>
        <td>Program/Course Title:</td>
        <td>
          <%= @education_detail.last_school_course_title %>
        </td>
      </tr>
      <tr>
        <td>Class Year:</td>
        <td>
          <%= @education_detail.class_year %>
        </td>
      </tr>
      <tr>
        <td>Graduation Date (approximate):</td>
        <td>
          <%= @education_detail.last_school_end_date %>
        </td>
      </tr>
      <tr>
        <td>Do you Have Scholarship?:</td>
        <td>
          <%= @education_detail.scholarship %>
        </td>
      </tr>
      <tr>
        <td>Club Affiliations:</td>
        <td>
          <%= @education_detail.affiliation %>
        </td>
      </tr>
      <tr>
        <td>Other Graduate Degrees:</td>
        <td>
          <%= @education_detail.other_degree %>
          <%if @education_detail.sub_other_degree.present?   	  %>
              - <%= @education_detail.sub_other_degree %>
              <% end %>
        </td>
      </tr>
      <tr>
        <td>MBA Schools:</td>
        <td>
          <%= @education_detail.mba_school %>
        </td>
      </tr>
      <tr>
        <td>Certifications/Licenses:</td>
        <td>
          <%= @education_detail.certification %>
        </td>
      </tr>
      <tr>
        <td>Undergraduate Major:</td>
        <td>
          <%= @education_detail.undergrad_major %> - <%= @education_detail.sub_undergrad %>
        </td>
      </tr>
      <tr>
        <td>Language Ability:</td>
        <td>
          <% @online_application.language_abilities.each do |language_ability| %>
          <span id="lang_disp<%= language_ability.id %>" class="language-container" ><%= language_ability.name %> - <%= language_ability.level %><button  id="<%= language_ability.id %>" class="language-ability-delete">delete</button><br></span>

      <% end %>

        </td>

      </tr>
    </table>

    <div class="control-group">
      <label class="control-label" for="submit-education-info-next"></label>

      <div class="controls" style="margin: 30px 80px;">
        <button id="submit-education-info-back" name="submit-education-info-back" class="patrick-btn">Back
          -
          Mailing Address and Contact Information
        </button>
        <button id="submit-education-info-next" name="submit-education-info-next" class="patrick-btn">Next -
          Professional
          Experience
        </button>
      </div>
    </div>
  </div>
</div>
<!--End Page 2-->

<!-- Start Page 3 -->
<div id="page-3">
  <div class="content">

    <h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55;">Work
      Experience<a href="#" id="professional_edit_link"  style="color: black;font-size: 11px; margin-left: 435px;">[Edit]</a></h2>
    <table class="student_table" cellpadding="3">
      <tr>
        <td>Total Years of Work Experience:</td>
        <td>
          <%= @employment_detail.years_ofexp %>
        </td>
      </tr>
      <tr>
        <td>Function - Experience:</td>
        <td>
          <% @online_application.function_experiences.each do |function_experience| %>
              <span id="function_disp<%= function_experience.id %>" class="language-container" ><%= function_experience.function %> - <%= function_experience.sub_function %><!--<button  id="<%= function_experience.id %>" class="language-ability-delete">delete</button>--><br></span>

          <% end %>

        </td>
      </tr>
      <tr>
        <td>Industry - Experience:</td>
        <td>
          <% @online_application.industry_experiences.each do |industry_experience| %>
              <span id="industry_disp<%= industry_experience.id %>" class="language-container" ><%= industry_experience.industry %> - <%= industry_experience.sub_industry %><!--<button  id="<%= industry_experience.id %>" class="language-ability-delete">delete</button>--><br></span>

          <% end %>

        </td>
      </tr>
      <tr>
        <td>Work Authorization:</td>
        <td>
          <%= @employment_detail.work_authorization %>
        </td>
      </tr>
      <tr>
        <td>Geographic - Experience:</td>
        <td>
          <% @online_application.geographic_experiences.each do |geographic_experience| %>
              <span id="geographic_disp<%= geographic_experience.id %>" class="language-container" ><%= geographic_experience.continent %> - <%= geographic_experience.country %><!--<button  id="<%= geographic_experience.id %>" class="language-ability-delete">delete</button>--><br></span>

          <% end %>
        </td>
      </tr>
      <tr>
        <td>Years of Supervisory Work Experience:</td>
        <td>
          <%= @employment_detail.years_supervisor_exp %>
        </td>
      </tr>
      <tr>
        <td>Salary prior to MBA (per annum):</td>
        <td>
          <%= @employment_detail.salary_mba %>
        </td>
      </tr>
      <tr>
        <td>Sabbatical?:</td>
        <td>
          <%= @employment_detail.sabbatical %>
        </td>
      </tr>
      <tr>
        <td>Name of Company before MBA:</td>
        <td>
          <%= @employment_detail.company_before_mba %>
        </td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>
          <%= @employment_detail.company_location %>
        </td>
      </tr>
      <tr>
        <td>Job title / designation:</td>
        <td>
          <%= @employment_detail.job_title %>
        </td>
      </tr>
      <tr>
        <td>Bachelor's Degree:</td>
        <td>
          <%= @employment_detail.degree %>
        </td>
      </tr>
      <tr>
        <td>School:</td>
        <td>
          <%= @employment_detail.school %>
        </td>
      </tr>
    </table>

    <div class="control-group" style="margin: 30px 35px;">
      <label class="control-label" for="submit-employment-info-back"></label>
      <div class="controls">
        <button id="submit-employment-info-back" name="submit-employment-info-back" class="patrick-btn">Back
          -
          Education
        </button>
        <button id="submit-employment-info-next" name="submit-employment-info-next" class="patrick-btn">Next -
          Preferences
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Page 3 -->

<!-- Start Page 4 -->
<div id="page-4">
  <div class="content">

    <h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55;">Industry -
      Preference<a href="#" id="preference_edit_link" style="color: black;font-size: 11px; margin-left: 469px;">[Edit]</a></h2>
    <table class="student_table" cellpadding="3">
      <tr>
        <td>Industry - Preference:</td>
        <td>
          <% @online_application.preference_industries.each do |preference_industry| %>
              <span id="pre_industry_disp<%= preference_industry.id %>" class="language-container" ><%= preference_industry.industry %> - <%= preference_industry.sub_industry %><!--<button  id="<%= preference_industry.id %>" class="language-ability-delete">delete</button>--><br></span>

          <% end %>
        </td>
      </tr>
      <tr>
        <td>Most Important Criteria for Choosing a Job:</td>
        <td>
          <% @online_application.preference_criteriums.each do |preference_criteriums| %>
              <span id="pre_criteria_disp<%= preference_criteriums.id %>" class="language-container" ><%= preference_criteriums.criteria %> <!--<button  id="<%= preference_criteriums.id %>" class="language-ability-delete">delete</button>--><br></span>

          <% end %>
        </td>
      </tr>
      <tr>
        <td>Desired job titles:</td>
        <td>
          <%= @preference.job_title %>
        </td>
      </tr>
      <tr>
        <td>Desired Salary after MBA (per annum):</td>
        <td>
          <%= @preference.salary_after_mba %>
        </td>
      </tr>
      <tr>
        <td>Candidate Job Reporting Status:</td>
        <td>
          <%= @preference.candidate_job_status %>
        </td>
      </tr>
    </table>

    <div class="control-group">
      <label class="control-label" for="education-back"></label>

      <div class="controls" style="margin: 30px 230px;">
        <button id="submit-preferences-info-back" name="submit-preferences-info-back" class="patrick-btn">Back
          -
          Employment
        </button>
        <button id="education-submit" name="education-submit" class="patrick-btn">Register</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End Page 4 -->
<!-- Start Page 5 -->
<div id="page-5">
  <div class="content">
    <h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55;">Settings</h2>
    <table class="student_table" cellpadding="3">
      <tr>
        <td><a href="#" id="change_email_link">Change Email </a></td>
      </tr>
      <tr>
        <td><a href="#" id="change_pass_link" >Change Password </a></td>
      </tr>
    </table>

  </div>
</div>
<!-- End Page 5 -->
<div id="page-6">
  <div class="content">
    <h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55">Contact Details</h2>
    <table class="student_table" cellpadding="3">
      <tr>
        <td>Current Mobile No:</td>
        <td>
          <input id="" name="" value="" type="text" class="input-xlarge">
        </td>
      </tr>
      <tr>
        <td>Current Telephone No:</td>
        <td>
          <input id="" name="" value="" type="text" class="input-xlarge">
        </td>
      </tr>
      <tr>
        <td>Current Email Address:</td>
        <td>
          <input id="" name="" value="" type="text" class="input-xlarge date-pick non-dob">
        </td>
      </tr>
    </table>
    <div class="controls" style="margin: 30px 190px;">
      <button id="submit-preferences-info-back" name="submit-preferences-info-back" class="patrick-btn">Save
        & Continue
      </button>
      <button id="education-submit" name="education-submit" class="patrick-btn">Upload Resume</button>
    </div>
  </div>
</div>
<!-- End Page 6 -->

<!-- Start Page 7-->
<div id="page-7">
  <div class="content">
    <h2 style="margin-top: 40px;border-bottom: 2px solid #146D55;color: #146D55;">Resume Upload</h2>
    <table class="student_table" cellpadding="3">
      <% RequirementType.all.each do |requirement_type| %>
          <tr>
            <td>
              <%= requirement_type.name %>
            </td>
            <td>
              <!--<%= render :partial => 'upload_button', :locals => {:requirement_type_id => requirement_type.id} %>-->
            </td>
          </tr>
      <% end %>
    </table>

  </div>
</div>

</form>
</div>




