<head>
  <style>
          @media print {
           * {
               font-size:14px;
           }

          td {
              margin:10px 10px;
          }

          @page{margin:0px auto;}

          .leftcolumn {
              display:none !important;
          }

          td.header {
              background-color: #000 !important;
              -webkit-print-color-adjust: exact;
          }

          .no-print, .no-print *
          {
              display: none !important;
          }

          .content-container, .admissions-container, .print {
              display:block !important;
              height: auto !important;
              width: auto !important;
              overflow-x: hidden !important;
          }

          .footer-online-admissions {
              display: none !important;
          }

          .print {
              display:block !important;
              position: absolute;
              border:1px solid white !important;
              box-shadow:0 0 0px;
              left:0px !important;
              top:10px;
              /*height:1056px !important;*/
              /*background-color:white;*/
              /*border:1px solid black;*/
              /*height:600px;*/
              /*width:816px;*/
              margin:0;
          }

          .remove-overflow{
              height:auto !important;
          }

          .date-pick {
              display: none !important;
          }
          .resume {
              width: 1000px !important;
              font-size: 20px !important;
          }

          .horizontal-row {
              width: 1000px !important;
          }

      }
  </style>
<link rel="stylesheet" href="/assets/global.css.scss">
  <script language="javascript">
      function printdiv(printpage)
      {

          var headstr = "<html><head>";
          var style = "<link rel='stylesheet' href='/assets/global.css.scss'>";
          var endheadstr = "</head><body>";
          var title = "<title></title>";
          var footstr = "</body>";
          var newstr = document.all.item(printpage).innerHTML;
          var oldstr = document.body.innerHTML;
          document.body.innerHTML = headstr+title+style+endheadstr+newstr+footstr;

          window.print();

          document.body.innerHTML = oldstr;
          return true;
      }
  </script>
</head>

<div style="">
<!--<input type="button" onclick="printdiv('div_print')">-->
<p><a href="#" id="back-print-btn" class="back-print-btn btn no-print" style="position: absolute;
        top: 20px;
        left: 520px;">Back</a></p>

<p><a href="javascript:window.print();" class="btn btn-info no-print" style="position: absolute;
        top: 20px;
        left: 620px;">Print Resume</a></p>
  <div id="div_print" class="print" style="top:60px;z-index: 9999;left:290px;position: absolute;background-color:white;border:1px solid black;box-shadow:0 0 70px black;margin:0 auto 0 auto;color:black !important;">
    <div class="remove-overflow" style="height:540px;overflow-y:auto;padding: 30px 30px;">
  <p class="horizontal-row" style="border-bottom:2px solid black;padding-bottom:10px;width:750px;margin:0 auto;">
    <span style="font-weight:bold;font-size:32px;padding:0px;margin:0px;"><%= @personal_details.first_name %> <%= @personal_details.middle_name %> <%= @personal_details.last_name %></span><br/>
    <span style="font-size: 12px"><%= @personal_details.current_mobile %> / <%= @personal_details.email %></span>
    <img src="http://tapmiblogs.files.wordpress.com/2010/11/aim-logo.png" style="height: 60px;float: right;margin-top: -35px;">
  </p>
  <br/>

  <table class="resume" style="font-family: arial,sans-serif;margin:0 auto;
          width: 750px;
          font-size:16px;
          border-width: 1px;
          border-color: #000;
          border-collapse: collapse;">
    <tr>
      <td class="heading" colspan="6">PERSONAL DETAILS</td>
    </tr>
    <tr>
      <td>Nationality</td>
      <td><%= @personal_details.citizenship%></td>
    </tr>
    <tr>
      <td>Citizenship</td>
      <td><%= @personal_details.civil_status%></td>
    </tr>
    <tr>
      <td class="heading" colspan="6">MAILING ADDRESS AND CONTACT INFORMATION</td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @personal_details.address_1%> <%= @personal_details.address_2%> <%= @personal_details.address_3%>, <%= @personal_details.city%></td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td><%= @personal_details.address_post_code%></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= @personal_details.address_country%></td>
    </tr>
    <tr>
      <td>Current Telephone No.</td>
      <td><%= @personal_details.current_telephone%></td>
    </tr>
    <tr>
      <td>Current Mobile No.</td>
      <td><%= @personal_details.current_mobile%></td>
    </tr>
    <tr>
      <td class="heading" colspan="6">EDUCATION</td>
    </tr>
    <tr>
      <td>Program/Course Title:</td>
      <td>
        <%= @education_detail.last_school_course_title %>
      </td>
    </tr>
    <tr>
      <td>Class Year:</td>
      <td>
        <%= @education_detail.class_year %>
      </td>
    </tr>
    <tr>
      <td>Graduation Date (approximate):</td>
      <td>
        <%= @education_detail.last_school_end_date %>
      </td>
    </tr>
    <tr>
      <td>Do you Have Scholarship?:</td>
      <td>
        <%= @education_detail.scholarship %>
      </td>
    </tr>
    <tr>
      <td>Club Affiliations:</td>
      <td>
        <%= @education_detail.affiliation %>
      </td>
    </tr>
    <tr>
      <td>Other Graduate Degrees:</td>
      <td>
        <%= @education_detail.other_degree %>
        <%if @education_detail.sub_other_degree.present?   	  %>
            - <%= @education_detail.sub_other_degree %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>MBA Schools:</td>
      <td>
        <%= @education_detail.mba_school %>
      </td>
    </tr>
    <tr>
      <td>Certifications/Licenses:</td>
      <td>
        <%= @education_detail.certification %>
      </td>
    </tr>
    <tr>
      <td>Undergraduate Major:</td>
      <td>
        <%= @education_detail.undergrad_major %> - <%= @education_detail.sub_undergrad %>
      </td>
    </tr>
    <tr>
      <td>Language Ability:</td>
      <td>
        <% @online_application.language_abilities.each do |language_ability| %>
            <span id="lang_disp<%= language_ability.id %>" class="language-container" ><%= language_ability.name %> - <%= language_ability.level %><br></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="heading" colspan="6">INDUSTRY - PREFERENCE</td>
    </tr>
    <tr>
      <td>Industry - Preference:</td>
      <td>
        <% @online_application.preference_industries.each do |preference_industry| %>
            <span id="pre_industry_disp<%= preference_industry.id %>" class="language-container" ><%= preference_industry.industry %> - <%= preference_industry.sub_industry %><!--<button  id="<%= preference_industry.id %>" class="language-ability-delete">delete</button>--><br></span>

        <% end %>
      </td>
    </tr>
    <tr>
      <td>Most Important Criteria for Choosing a Job:</td>
      <td>
        <% @online_application.preference_criteriums.each do |preference_criteriums| %>
            <span id="pre_criteria_disp<%= preference_criteriums.id %>" class="language-container" ><%= preference_criteriums.criteria %> <!--<button  id="<%= preference_criteriums.id %>" class="language-ability-delete">delete</button>--><br></span>

        <% end %>
      </td>
    </tr>
    <tr>
      <td>Desired job titles:</td>
      <td>
        <%= @preference.job_title %>
      </td>
    </tr>
    <tr>
      <td>Desired Salary after MBA (per annum):</td>
      <td>
        <%= @preference.salary_after_mba %>
      </td>
    </tr>
    <tr>
      <td>Candidate Job Reporting Status:</td>
      <td>
        <%= @preference.candidate_job_status %>
      </td>
    </tr>
    <tr>
      <td class="heading" colspan="6">EDUCATION</td>
    </tr>
    <tr>
      <td valign="top" style="font-weight:bold;">
        Asian Institute of Management<br/>
        Masters in Business Administration<br/>
        <ul>
          <li>Date of Graduation: <%= @education_detail.last_school_end_date %></li>
        </ul>
      </td>
      <td>
        Location: Makati<br/>
        2012-2013
      </td>
    </tr>
    <tr>
      <td>
        <b>Ateneo de Manila University</b><br/>
        <b>BA Economics</b><br/>
        <span style="font-style: italic">Cum Laude</span>
      </td>
      <td>
        Location: Quezon City<br/>
        2003-2007
      </td>
    </tr>
      <!--<tr>-->
        <td class="heading" colspan="6">WORK EXPERIENCE</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">
          Deutsche Knowledge Services, Fee-Based (Aseet Management) Department<br/>
          Associate
          <ul style="font-weight: 100">
            <li>Supported the Regional Private Wealth Management Reporting Team in the preparation of
              management reports, with a focus on the Hong Kong entity
            </li>
            <li>Responsible for monthly flash estimates and client profitability report</li>
            <li>Involved in the reconciliation of Management books vs Financial ledger, which involves
              investigations and deep dives when financials are not in line with expectations
            </li>
            <li>Involved in Special projects to improve process workflow and efficiencies</li>
          </ul>
        </td>
        <td valign="top">Location: Makati City, PH<br/>
          2011-2013
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold;">Citibank Shared Services, Business Planning and Analysis<br/>
          Assistant Manager
          <ul style="font-weight: 100">
            <li>Participated in the migration of Singapore Business Planning & Analysis responsibilities to
              the Manila head office
            </li>
            <li>Preparation and computation of MIS adjustments for the proper allocation of
              revenue/expenses by Citi Businesses or by customers.
            </li>
            <li>Supported Business Planning and Analysis functions of Singapore, India Subcontinent and
              Australia entities.
            </li>
            <li>Worked with the Singapore Product Control Group in the reconciliation of system financials
              and P&L report to ensure that reported figures and posted adjustments are correct. This
              involves investigations for the causes of breaks/errors and the reconciliation of numbers
              across systems.
            </li>
            <li>Part of the Global working team in the elimination of manual adjustments and reengineering
              existing process to improve headcount efficiency.
            </li>
          </ul>
        <td valign="top">Location: Makati City, PH<br/>
          2008-2011
        </td>
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold;">Bahay Financial Services<br/> Account Officer<br/>
          <ul>
            <li style="font-weight: 100">
              To turn nonperforming loans into profit-generating assets through a rigorous process of loan
              repackaging. The position involves account profiling, account strategy, bucketing and
              analysis, client negotiations and underwriting.
            </li>
          </ul></td>
        <td valign="top">Location: Makati City: PH<br/>
          2007-2008
        </td>
      </tr>
      <tr>
        <td class="heading" colspan="6">CO-CURRICULAR ACTIVITIES</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">
          AIM Consulting Club<br/>
          Core Team
        </td>
        <td>Location: Makati City, PH<br/>
        2013-2014</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">American Chamber of Commerce<br/>Member</td>
        <td>Location: Makati City, PH<br/>
        2013-2014</td>
      </tr>
      <tr>
        <td class="heading" colspan="6">OTHER INFORMATION</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">
          <ul>
            <li>Recipient of STAR AWARD in 2012</li>
            <li>Recipient of 2 Citibank RAVE Awards (2009, 2010)</li>
          </ul>
        </td>
      </tr>
    </table>

</div>
</div>
</div>