<%= stylesheet_link_tag 'online_application_forms' %>
<span id="online-application-id" data-online-application-id="<%= @online_application.id %>"></span>

<%= render :partial => 'data' %>
<%= render :partial => 'form' %>

<div id="page-9">
<%= render :partial => 'resume' %>
</div>
<%= render :partial => 'sub_category' %>
<%= render :partial => 'dialogs' %>