<h1>Listing undergraduate_majors</h1>

<table>
  <tr>
    <th>Online application form</th>
    <th>Undergrad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @undergraduate_majors.each do |undergraduate_major| %>
  <tr>
    <td><%= undergraduate_major.online_application_form_id %></td>
    <td><%= undergraduate_major.undergrad %></td>
    <td><%= link_to 'Show', undergraduate_major %></td>
    <td><%= link_to 'Edit', edit_undergraduate_major_path(undergraduate_major) %></td>
    <td><%= link_to 'Destroy', undergraduate_major, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Undergraduate major', new_undergraduate_major_path %>
