<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/assets/application.css"/>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title>Career Management System</title>
</head>
<body style="background-color: rgb(48, 42, 42)">
<div class="main" id="main">
  <div class="aim-brand" style="background-color: rgb(48, 42, 42)">
    <%= image_tag 'aimlogo.png' %>
  </div>

  <!--<div class="admissions-title">-->
    <!--<div class="row">-->
      <!--<div class="span6" style="height: 43px;">-->
        <!--<h1 class="admissions-header" id="page-title">Career Management System</h1>-->
      <!--</div>-->
      <!--<div class="span4" style="position: relative; top: 6px;">-->
        <!--<% if current_user.present? %>-->
            <!--<%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete', :class => 'btn btn-warning no-print' %>-->
        <!--<% end %>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="potential-errors" style="position: absolute">
    <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %> <p class="alert"><%= alert %></p>
    <% end %>
  </div>

  <!--<div class="nav1">-->
    <!--<ul>-->
      <!--<li style="margin-left: -39px;"><a href="#">Home</a></li>-->
      <!--<li><a href="#">The AIM Advantage</a></li>-->
      <!--<li><a href="#">Schools and Programs</a></li>-->
      <!--<li><a href="#">Admissions</a></li>-->
      <!--<li><a href="#">Research and Advocacy</a></li>-->
      <!--<li><a href="#">Faculty</a></li>-->
      <!--<li><a href="#">Alumni</a></li>-->
      <!--<li style="border-right:none;"><a href="#">Student Life</a></li>-->
    <!--</ul>-->
  <!--</div>-->

  <div class="content-container">
    <div class="top" id="top" style="background-color: #f9f9f9;height: 35px;width: auto;">
      <p style="height: 40px;width: 750px;color: #511212; position: absolute; letter-spacing:2px;margin-left: 230px;font-size: 18px; margin-top: 5px; font-weight: bold; padding-top: 4px; text-align: center;">Career Management Office</p>
    </div>
    <div class="leftcolumn" id="leftcolumn">
      <div style="height:290px;">
      <p style="padding-left: 40px; font-weight: bold;  font-size: 14px;padding-top: 40px;"><span style="color:white;">Welcome,</span><br/><span style="color:white;">Nepomuceno, Mar Angel</span><br/><img src="" /></p><br/>
      <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-xfp1/t1.0-9/1921878_723891680980271_4360094652380396743_n.jpg" style="height: 190px;
              width: 160px;
              margin-left: 45px;
              margin-top: -35px;
              z-index: 999;
              border: 1px solid black;"/>
      </div>
      <ul>
        <li><a href="aboutme.html" class="about-me-btn" >About Me</a></li>
        <li><a href="education.html" class="education-btn">Education</a></li>
        <li><a href="workexperience.html" class="workexperience-btn">Work Experience <br/>and Preferences</a></li>
        <li><a href="view_profile.html" class="profile-btn">My Preferences</a></li>
        <li><a href="view_profile.html" class="profile-btn">My Uploads</a></li>
        <li><a href="#" style="" id="" >Logout</a></li>
      </ul>
    </div>
    <!--<div class="catalogues" style="position: relative;">-->
      <!--<div style="width: 130px;height: 85px;margin-left: 446px;"><img style="width: 130px;height: 85px;position:absolute;" src="/assets/aboutme.jpg"/></div>-->
      <!--<a href="#"><div style="position: absolute;width: 130px;height: 85px;margin-left: 577px;"><img style="width: 130px;height: 85px;" src="/assets/education.jpg"/></div></a>-->
      <!--<a href="#"><div style="position: absolute;width: 130px;height: 85px;margin-left: 710px;"><img style="width: 130px;height: 85px;" src="/assets/experience.jpg"/></div></a>-->
      <!--<a href="#"><div style="position: absolute;width: 130px;height: 85px;margin-left: 845px;"><img style="width: 130px;height: 85px;" src="/assets/my resume.jpg"/></div></a>-->
    <!--</div>-->
    <%= yield %>

  </div>
</div>
<div class="footer">
  <!--
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">The AIM Advantage</a></li>
      <li><a href="#">Schools and Programs</a></li>
      <li><a href="#">Admissions</a></li>
      <li><a href="#">Research and Advocacy</a></li>
      <li><a href="#">Faculty</a></li>
      <li><a href="#">Alumni</a></li>
      <li><a href="#">Student Life</a></li>
  </ul>
  -->
  <p style="text-align:center;color: white;letter-spacing: 0.5px;text-decoration:none;font-weight: bold;font-size:11px;padding-top: 10px;">Copyright © 2014 Asian Institute of Management</p>
</div>

</body>
</html>
</body>
</html>
