<!DOCTYPE html>
<html>
<head>

  <!--<link rel="stylesheet" type="text/css" href= /assets/application.css">-->

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Include jBox -->
  <link href="/assets/jBox.css" rel="stylesheet">
  <script src="http://netdna.jboxcdn.com/0.2.3/jBox.min.js"></script>

  <script type="text/javascript" src="/assets/jssor.core.js"></script>
  <script type="text/javascript" src="/assets/jssor.utils.js"></script>
  <script type="text/javascript" src="/assets/jssor.slider.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>

  <script>
      function notice5Sec($test) {
          new jBox('Notice', {
              content: $test,
              autoClose: 5000
          });
      }
  </script>

  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title>Career Services Office Portal</title>
</head>
<body style="background-color: rgb(13,17,46);">
<div class="main" id="main">
  <div id="aim-brand" class="aim-brand no-print" style="background-color: rgb(13,17,46);padding-bottom: 10px">
    <%= image_tag 'aimlogo.png' %>
  </div>

  <!--<div class="admissions-title">-->
  <!--<div class="row">-->
  <!--<div class="span6" style="height: 43px;">-->
  <!--<h1 class="admissions-header" id="page-title">Career Management System</h1>-->
  <!--</div>-->
  <!--<div class="span4" style="position: relative; top: 6px;">-->
  <!--
  <% if current_user.present? %>-->
      <!--<%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete', :class => 'btn btn-warning no-print' %>-->
      <!--
  <% end %>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <div class="potential-errors" style="position: absolute">
    <% if notice.present? %>
        <!--<p class="alert alert-info">-->
        <script type="text/javascript">
            $(function () {
                notice5Sec(' + <%= notice %> + ');
            });
        </script>
        <!--<%= notice %>-->
        <!--</p>-->

    <% end %>
    <% if alert.present? %>
        <!--<p class="alert">-->
        <script type="text/javascript">
            $(function () {
                notice5Sec('<%= alert %>');
            });
        </script>
        <!--<%= alert %>-->
        <!--</p>-->

    <% end %>
  </div>

  <!--<div class="nav1">-->
  <!--<ul>-->
  <!--<li style="margin-left: -39px;"><a href="#">Home</a></li>-->
  <!--<li><a href="#">The AIM Advantage</a></li>-->
  <!--<li><a href="#">Schools and Programs</a></li>-->
  <!--<li><a href="#">Admissions</a></li>-->
  <!--<li><a href="#">Research and Advocacy</a></li>-->
  <!--<li><a href="#">Faculty</a></li>-->
  <!--<li><a href="#">Alumni</a></li>-->
  <!--<li style="border-right:none;"><a href="#">Student Life</a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="content-container" id="content-container" style="background-color: #fff;">
    <div class="top" id="top" style="background-color: #146D55;
            color: white;
            height: 35px;
            width: 100%;">
      <p id="header" style="height: 40px;width: 1000px;color: white; position: absolute;font-size: 18px; margin-top: 3px; font-weight: bold; padding-top: 4px; text-align: center;font-family: Verdana;
              font-size: 15px;
              line-height: 22px;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-weight: bold;" class="no-print">Career
        Services Office</p><div class="span4" style="position: relative;
            top: 1px;
            right: 0px;
            float: right;">
    <%	 if @student.blank? %><a href="/users/sign_out" id="sign-out" class="btn btn-warning no-print" data-method="delete" rel="nofollow" style="border-radius: 0px;">Sign Out</a><% end  %>
    </div>
    </div>
    <%if @student.present? %>
        <div class="leftcolumn no-print" id="leftcolumn">
          <div style="height: 280px;
                  border-bottom: 1px solid #146D55">
            <p style="padding-left: 40px;margin-top: 10px;"><br/><span style="color:rgb(13,17,46);">
              <% if   @student==1%>
        <span style="font-family: Verdana;
                font-size: 15px;
                line-height: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;"><%= @online_application.personal_detail.first_name %> <%= @online_application.personal_detail.last_name %></span>
            <% end %></span><br/></p><br/>
            <img src="http://san.ee.ic.ac.uk/images/male_profile.jpg" style="
            height: 190px;
                    width: 200px;
                    margin-left: 22px;
                    margin-top: -15px;
                    z-index: 999;
                    border-radius: 4px;"/>
          </div>
          <div id="navigation">
            <ul>
              <li><a href="aboutme.html" class="about-me-btn">Profile</a></li>
              <li><a href="#" class="address-btn">Address and Contact Information</a></li>
              <li><a href="education.html" class="education-btn">Education</a></li>
              <li><a href="workexperience.html" class="workexperience-btn">Work Experience</a></li>
              <li><a href="view_profile.html" class="profile-btn">Preferences</a></li>
              <li><a href="#" class="myuploads-btn">My Uploads</a></li>
              <li><a href="#" class="myresume-btn">Professional Summary</a></li>
              <li><a href="#" class="job-status-btn">Job Reporting Status</a></li>
              <li><a href="#" class="settings-btn">Settings</a></li>
              <li><a href="/logout" style="" id="">Logout</a></li>
            </ul>
          </div>
        </div>


    <% end %>
    <!--<div class="catalogues" style="position: relative;">-->
    <!--<div style="width: 130px;height: 85px;margin-left: 446px;"><img style="width: 130px;height: 85px;position:absolute;" src="/assets/aboutme.jpg"/></div>-->
    <!--<a href="#"><div style="position: absolute;width: 130px;height: 85px;margin-left: 577px;"><img style="width: 130px;height: 85px;" src="/assets/education.jpg"/></div></a>-->
    <!--<a href="#"><div style="position: absolute;width: 130px;height: 85px;margin-left: 710px;"><img style="width: 130px;height: 85px;" src="/assets/experience.jpg"/></div></a>-->
    <!--<a href="#"><div style="posit ion: absolute;width: 130px;height: 85px;margin-left: 845px;"><img style="width: 130px;height: 85px;" src="/assets/my resume.jpg"/></div></a>-->
    <!--</div>-->
    <%= yield %>

  </div>
</div>
<div class="footerr">
  <!--
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">The AIM Advantage</a></li>
      <li><a href="#">Schools and Programs</a></li>
      <li><a href="#">Admissions</a></li>
      <li><a href="#">Research and Advocacy</a></li>
      <li><a href="#">Faculty</a></li>
      <li><a href="#">Alumni</a></li>
      <li><a href="#">Student Life</a></li>
  </ul>
  -->
  <p style="text-align:center;color: white;letter-spacing: 0.5;text-decoration:none;font-size:11px;padding-top: 15px;" id="footer" class="no-print">Copyright
    © 2014 Asian Institute of Management</p>
</div>

</body>
</html>
</body>
</html>
